#wrapper.about {
    .fitBox {
        .ptb20 {
            display: inline-block;
            padding: 20px 0;
        }
        &#thinking {
            &:before {
                background: url("../image/bg/fit/about/thinking.jpg") no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
        }
        &#diet {
            &:before {
                background:url("../image/bg/fit/about/diet.jpg") no-repeat;
                height: 71px;
            }
        }
        &#matchmaking {
            &:before {
                background: url("../image/bg/fit/about/matchmaking.jpg") no-repeat;
                height: 71px;
            }
            .match-txt {
                width: 355px;
                margin: 0 10px;
                li {
                    margin-left: 20px;
                    text-align: left;
                    p {
                        width: 266px;
                        padding: 8px 0 12px 30px;
                    }
                }
            }
        }
        &#voice {
            &:before {
                background: url("../image/bg/fit/about/voice.jpg") no-repeat;
                height: 71px;
            }
            li {
                padding: 14px 0 36px 0;
            }
            .voice-txt {
                width: 375px;
                margin: 0 15px 0 30px;
                font-size: 15px;
            }
        }
        &#access {
            &:before {
                background:url("../image/bg/yg/about/access.jpg") no-repeat;
                height:102px;
            }
            table {
                margin:0 auto;
                th {
                    background:#ececec;
                    border-bottom:#fff 2px solid;
                    vertical-align: middle;
                    font-size:15px;
                    font-weight:normal;
                    width:190px;
                    padding:23px 0;
                }
                td {
                    width:454px;
                    border-bottom:#ececec 2px solid;
                    vertical-align: middle;
                    font-size:13px;
                    padding:0 0 0 19px;
                    @include box-sizing;
                    text-align:left;
                }
            }
            .btns {
                padding:0;
            }
        }
    }
}//#wrapper.about