#wrapper.beforeAfter {
    .fitBox {
        .ptb20 {
            display: inline-block;
            padding: 20px 0;
        }
        &#beforeAfter_terada {
            &:before {
                background: url("../image/bg/fit/beforeAfter/beforeAfter1.jpg") no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
        }
        &#beforeAfter_male{
            &:before{
                background: url("../image/bg/fit/beforeAfter/beforeAfter2.png")no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
        }
        &#beforeAfter_female{
            &:before{
                background: url("../image/bg/fit/beforeAfter/beforeAfter3.jpg")no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
        }
    }
}//#wrapper.beforeAfter