@charset "utf-8";

/*------------------------------------------------
	base styles
--------------------------------------------------*/
body{
	color: #404040;
	text-align: center;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 80%;
	background-color: #ffffff;
	line-height: 1.5em;
}
td{
	color: #000000;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}
body,p,dl,ol,ul,h1,h2,h3,h4,h5,h6,form,table,td{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
ol,ul{
	list-style-type: none;
}
ol li img,
ul li img{
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-size: 100%;
}
img{
	border: none;
}
select{
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}
input,textarea,selectbox{
	color: #000000;
}
textarea{
	font-size: 100%;
	font-family: "メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
strong{
	font-weight: bold;
}
a:link{
	color: #19254d;
}
a:visited{
	color: #19254d;
}
a:hover{
	text-decoration: none;
  img{
    opacity: 0.8;
  }
}



/*------------------------------------------------
	common styles
--------------------------------------------------*/
.clearfix:after{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0px;
	font-size: 0.1em;
	line-height: 0;
}
/* no ie mac \*/
* html .clearfix{
	height: 1%;
}
.clearfix{
	display: block;
	*zoom:1;
}


/* --------------------------------------------- */
/* global */
.right{
	float:right;
}
.left{
	float:left;
}
.both{
	clear:both;
}
.bold{
	font-weight: bold;
}
.center{
	text-align: center !important;
}
a,a:link,a:visited,a:hover,a:active{
	color:#966731;
	font-weight: bold;
	text-decoration: none;
}


@charset "utf-8";
$minWidth:1280px;
$baseWidth:940px;
$contentWidth:705px;
$sideWidth:223px;


@mixin box-sizing{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
       -o-box-sizing:border-box;
}

// @import './_fitness';
.fitBox {
  width:702px;
  margin:0 auto;
  &:before {
    content: '';
    height:114px;
    width:702px;
    display:block;
  }
  &:after {
    content: '';
    background:url("../image/bg/fit/fit_footer.png") no-repeat;
    height:30px;
    width:702px;
    display:block;
  }
  &.unshadow {
    &:after {
      content: '';
      background:url("../image/bg/fit/fit_footer-unshadow.png") no-repeat;
      height:30px;
      width:702px;
      display:block;
    }
  }
  .fit-body {
    background:url("../image/bg/fit/fit_body.png") repeat;
    width:702px;
    figure.fig{
      margin:0;
      padding:0 0 30px 0;
    }
    .btns {
      @include clearfix;
      width:606px;
      margin:0 auto;
      padding:30px 0;
      li {
        float:right;
        &:first-child {
          float:left;
        }
      }
    }
  }
  }//.ygBox
#pkz {
  margin: 0 160px 20px 0;
}
#pkz:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#pkz ul {
  float: right;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#pkz li {
  float: left;
}
#pkz li:not(:last-child):after {
  content: '>';
  padding: 0 4px;
}
#pkz li a {
  color: #010101;
  text-decoration: none;
}

#wrapper{
  /*横可変レイアウトの場合*/
  /*
  width:100%;
  min-width:minWidth;
  position: absolute;
  z-index:1;
  left:0;
  top:0;
  */
  width:$minWidth;
  margin:0 auto;
  //background: url("../../image/bg/main.jpg") no-repeat;



  &:before{
    /*横可変レイアウトの場合*/
    /*背景画像の設定*/
    /*content:url("../../image/bg/main.jpg");
    position: absolute;
    z-index:-1;
    left:50%;
    top:0;
    margin-left:-640px;//画像サイズの半分のサイズを指定*/
  }
  #header{
    padding:15px 0 0 0;
    .inner{
      width:$baseWidth;
      margin:0 auto;
      display: table;
      h1{
        width:111px;
        *float:left;
        display: table-cell;
        vertical-align: middle;
      }
      p{
        display: table-cell;
        *float:left;
        width:$baseWidth - 111 - 245px;
        text-align: left;
        padding-left:30px;
        @include box-sizing;
        vertical-align: bottom;
      }
      .tel{
        *float:right;
        display: table-cell;
        width:245px;
      }
    }//.inner
    #global_nav{
      //background: url("../../image/bg/nav.png") repeat-x;
      width:$minWidth;
      margin: 15px auto 0 auto;
      ul{
        width: $baseWidth;
        margin: 0 auto;
        li{
          float:left;
          &.concept{
            position: relative;
            &:hover{
              ul{
                display: block;
              }
            }
            ul{
              position: absolute;
              bottom:-80px;
              left:0;
              z-index:9999;
              display: none;
              width:188px;
              li{
                float: none;
              }
            }
          }
        }
      }
    }
  }//#header
  #base_wrapper{
    margin: 0 auto;
    width:$minWidth;
    padding:20px 0 0 0;
    background: url("../../image/bg/bg.jpg") no-repeat;
    background-color: #fff;
  }
  #content_wrapper{
    width:$baseWidth;
    margin:0 auto;
    .side{
      width:$sideWidth;
      float:left;
      #nav{
        margin-bottom:10px;
        dl{
          margin:0 0 10px 0;
          dt{
            margin:0;
            img{
              vertical-align:top;
            }
          }
          dd{
            margin:0;
            img{
              vertical-align:top;
            }
            a:hover{
              color: #999;
            }
          }
        }
      }
      .bnr{
        ul{
          li{
            margin:15px 0;
          }
        }
      }
    }
    .contents{
      width:$contentWidth;
      float:right;
      //background: #fff;
      &.white{
        background: #fff;
      }
      &.concept{
        h3{
          text-align: left;
          padding:0 0 0 25px;
          @include box-sizing;
          &.normal{
            padding: 0 !important;
          }
        }
      }
      h2{
        margin-bottom:20px;
        text-align: left;
        padding:0 0 0 10px;
        @include box-sizing;
      }
      //.white_space{
      //  background: #fff;
      //}
      .pkz{
        padding:3px 0 0 3px;
        margin:0 0 25px 0;
        @include box-sizing;
        ul{
          display: table;
          margin-bottom:7px;
          li{
            display: table-cell;
            &:not(:first-child):before{
              content:">";
              padding:0 5px;
            }
            a{
              color:#966731;
              font-weight: normal;
            }
          }
        }
      }//.pkz
      .mgbox{
        @extend .box;
        margin:40px 0;
      }
      .colorbox{
        @extend .mgbox;
        background:#eedebb;
      }
      .box{
        .section{
          margin:20px 0;
          &.btn.half{
            width:320px;
            float:left;
            margin:0 30px 0 20px;
            &:last-child{
              margin:0;
            }
          }
        }
        .formTable{
          width: 100%;
          border: 1px #e9e0d2 solid;
          border-collapse: collapse;
          th{
            border: 1px #e9e0d2 solid;
            vertical-align: middle;
            font-weight: normal;
            width:147px;
          }
          td{
            border: 1px #e9e0d2 solid;
            text-align: left;
            vertical-align: middle;
            @include box-sizing;
            padding:15px;
            &.priority{
              padding:0;
              width:56px;
              text-align: center;
              color:#ff3f38;
              &.option{
                color:#b5aa9f;
              }
            }//.priority
            textarea{
              width:430px;
              border: 1px #e9e0d2 solid;
            }
            input[type="text"]{
              width:295px;
              &.long{
                width:445px;
              }
              &.tel{
                width:40px;
              }
            }
            .mg_right{
              margin-right:50px;
            }
            select{
              display: block;
              margin:0 0 10px;
            }
            p{
              &.eg{
                font-size:10px;
                color:#b6b6b6;
              }
            }
          }//td
        }//.formBox
        .bnrText{
          width: 650px;
          margin:0 auto;
          p{
            margin:0 0 15px 0;
          }
        }
        ul.bnr{
          li{
            margin:0 0 15px 0;
          }
        }
        h2{
          margin-top:-20px;
          margin-bottom:15px;
        }
        h3{
          margin-bottom:15px;
        }
        h4{
          margin-bottom:15px;
        }
        p{
          text-align: left;
          &.caution{
            text-align: right;
            font-size: 90%;
          }
          &.images{
            text-align: center;
            margin:10px 0;
          }
          &.mini{
            width:650px;
            margin:0 auto;
          }
          &.desc{
            padding:0 15px;
            margin:10px 0;
            @include box-sizing;
          }
          img{
            &.pad{
              padding:0 10px;
            }
          }
        }
        &.plimogel{
          .imageData{
            margin:25px 0;
          }
        }
        .imageData{
          margin:15px 0;
        }
        .imageBlock{
          margin:15px 0;
          text-align: center;
          &.left{
            text-align: left !important;
          }
        }
        .bnrs{
          margin:50px 0 25px 0;
        }
        .buyBtn{
          text-align: right;
          margin:30px 0;
        }
        .desc{
          padding:0 5px;
          @include box-sizing;
          p{
            margin-bottom:15px;
            span{
              font-weight:bold;
              color:#966731;
              line-height: 2.5em;
            }
          }
        }
        .article{
          margin:15px 0;
          h5{
            text-align: left;
            margin-bottom:15px;
          }
          .blue{
            background:#f3f9f9;
            padding:15px 0;
          }

        }//.article
        .inner_box{
          @include box-sizing;
          padding:0 30px;
          p{
            margin-bottom:20px;
            &.in{
              padding-left:15px;
              margin-top:-30px;
            }
          }
        }//.inner_box
        .tel_reserve{
          width:700px;
          margin: 0 auto;
          height:120px;
          position: relative;
          .button{
            position: absolute;
            bottom:20px;
            right:55px;
          }
        }
        .list_box{
          display: table;
          width:640px;
          margin:0 auto;
          ul{
            display: table-cell;
             &.cube{
              li{
                text-align: left;
                &:before{
                  content:"◆";
                  padding-right:10px;
                }
              }
            }//.cube
          }//ul
        }//.list_box
        .image_description{
          display: table;
          width:100%;
          .img{
            display: table-cell;
            vertical-align: top;
            width:270px;
          }
          .description{
            display: table-cell;
            vertical-align: top;
            padding:0 15px;
            @include box-sizing;
            p{
              margin-bottom:15px;
              text-align: left;
              &.title{
                color:#966731;
                font-weight: bold;
              }
            }
          }
        }
        .access_info{
          display: table;
          margin:0 auto;
          padding:20px 0;
          .map{
            width:480px;
            display: table-cell;
            vertical-align: top;
            .mapInner{
              position: relative;
              .top{
                position: absolute;
                top:-1px;
                left:0;
                z-index:9999;
              }
              .bottom{
                position: absolute;
                bottom:-1px;
                right:0;
                z-index:9999;
              }
            }
          }
          .access{
            display:table-cell;
            vertical-align: top;
            text-align: left;
            @include box-sizing;
            padding-left: 15px;
            p{
              margin-bottom:20px;
              &.mg_top{
                margin-top:40px;
              }
              span{
                color:#ea759c;
                font-weight: bold;
              }
            }
          }
        }//.access_info
        .imgList{
          width:680px;
          margin:15px auto;
          li{
            float:left;
            margin:0 10px 0 0;
          }
        }
        .two_column_table{
          display: table;
          width:100%;
          @include box-sizing;
          background: #fff;
          border:1px #ece4d5 solid;
          &.noborder{
            border:none !important;
            .column{
              border:none !important;
            }
          }
          &.borderBottom{
            border:none !important;
            .column{
              border-right:none !important;
              border-bottom:1px #966731 dotted;
            }
          }
          &.mg_bottom{
            margin-bottom:20px;
          }
          &.project{
            .column{
              &.title{
                background: #fefcfc;
                color:#5f2e13;
              }
              padding:10px 15px !important;
            }
          }
          .row{
            display: table-row;
            &:not(:last-child){
              .column{
                border-bottom:1px #ece4d5 solid;
              }
            }
            .column{
              display: table-cell;
              @include box-sizing;
              text-align: left;
              padding:10px 15px;
              vertical-align: top;
              &:not(:last-child){
                border-right:1px #ece4d5 solid;
              }
              h4{
                color:#ea759c;
                font-weight:bold;
                margin:0 0 5px 0;
              }
              .staff_name{
                font-weight: bold;
                color:#ea759c;
                margin-bottom:20px;
              }
              ul{
                list-style-type: disc;
                list-style-position: inside;
              }
              p{
                &.mg{
                  margin:25px 0;
                }
                &.address{
                  margin:3px 0;
                }
                &.tel{
                  margin:3px 0;
                  color:#ac8a40;
                }
              }
              p.pad{
                padding:5px 0 20px 0;
              }
              &.nopad{
                padding:0;
              }
              &.lowpad{
                padding:5px;
              }
              &.lowpad_left{
                padding-left:5px;
              }
              &.pad_bottom{
                padding:0 15px 15px 10px;
              }
              &.pad_top{
                padding:5px 0 0 0;
              }
              &.pad_top_left{
                padding:5px 0 0 10px;
              }
              &.pad_top_right{
                padding:5px 30px 0 0;
              }
              &.title{
                width:200px;
                //background:#eedebb;
                //color:#47210e;
                color:#5f2e13;
                vertical-align: top;
              }
              span{
                font-weight: bold;
                color:#ea759c;
                &.pd{
                  line-height:2em;
                }
                &.blk{
                  color:#404040;
                }
                &.red{
                  color:#c61a22;
                }
              }
            }
          }//.row
        }//.two_column_table
        .three_column_table{
          display: table;
          width:100%;
          border:1px #c9bc9c solid;
          &.noborder{
            border:none !important;
            .column{
              border:none !important;
            }
          }
           &.mg_bottom{
            margin-bottom:20px;
          }
          &.fixed{
            table-layout: fixed;
            .row{
              .column{
                width:auto !important;
              }
            }
          }
          .row:last-child{
            .column{
              border-bottom: none;
            }
          }
          .column{
            display: table-cell;
            vertical-align: middle;
            width:100px;
            border-bottom:1px #c9bc9c solid;
            @include box-sizing;
            padding:5px;
            &:not(:last-child){
              border-right:1px #c9bc9c solid;
            }
            &.long{
              width:500px;
            }
            &.title{
              background:#eedebb;
              color:#47210e;
              vertical-align: middle;
            }
            p{
              span{
                font-weight: bold;
                color:#966731;
                line-height: 2em;
              }
            }
            .menu_pattern{
              display: table-cell;
              vertical-align: middle;
              padding:0 10px;
              dt{
                width:60px;
                height:18px;
                float:left;
              }
              dd{
                width:40px;
                float:left;
                margin:0 10px;
                text-align: left;
              }
            }//.menun_pattern
          }//.column
        }//.three_column_table
        .four_column_table{
          display: table;
          width:100%;
          vertical-align: middle;
          border:1px #c9bc9c solid;
          .row{
            display: table-row;
            &:last-child{
              .column{
                border-bottom: none;
              }
            }
            .column{
              display: table-cell;
              border-bottom:1px #c9bc9c solid;
              vertical-align: middle;
              @include box-sizing;
              padding:5px 15px;
              &:not(:last-child){
                border-right:1px #c9bc9c solid;
              }
              &.semilong{
                width:200px;
              }
              &.long{
                width:300px;
              }
              &.title{
                background:#eedebb;
                color:#47210e;
              }
              ul{
                li{
                  float:left;
                  margin:5px 5px 0 0;
                }
              }
            }
          }
        }
        .three_column_imagebox{
          padding:0 5px;
          &.mg_bottom{
            margin-bottom:50px;
          }
          .column_box{
            width:220px;
            margin-right:15px;
            float:left;
            text-align: left;
            &:last-child{
              margin-right:0;
            }
            .label{
              margin:8px 0;
              padding-left:5px;
              width:215px;
              color:#a78138;
              font-weight: bold;
              font-size: 15px;
            }
            h4{
              padding:5px 0;
              &.century{
                font-family: "Century Gothic", sans-serif;
                font-size: 120%;
                line-height:1.5em;
                margin-bottom: 0;
                padding-bottom:0;
              }
            }
            p{
              margin-top:8px;
              padding-left:5px;
              @include box-sizing;
            }
          }//.column_box
        }//.three_column_imagebox
        .info_box{
          .iwrap{
            width:701px;
            background: url("../../image/photo/top/news_body.jpg");
          }
          .info_box_body{
            display: table;
            width:600px;
            margin:0 auto;
            padding:10px 0;
            .line{
              display: table-row;
              width:100%;
              text-align: left;
              .date{
                padding:7px 0;
                display: table-cell;
                vertical-align: top;
                width:72px;
                padding-left:2px;
                border-bottom:1px #966731 dashed;
              }
              .label{
                padding:10px 0 7px;
                display: table-cell;
                width:72px;
                vertical-align: top;
                border-bottom:1px #966731 dashed;
              }
              .cnt{
                padding:7px 0;
                display: table-cell;
                vertical-align: top;
                border-bottom:1px #966731 dashed;
                a{
                  color: #404040;
                  font-weight: normal;
                }
              }
              /*&:first-child{
                .date,.label,.cnt{
                  border-top:1px #966731 dashed;
                }
              }*/
            }//.line
          }//.info_box_body
        }//.info_box
      }//.box
    }//.contents
  }
  #footer{
    width:100%;
    min-width: $minWidth;
    .go_top{
      text-align: right;
      width:$baseWidth;
      margin:0 auto;
      padding:30px 0;
    }//.go_top
    .liner{
      border-top:1px #e6dccc solid;
      padding:15px 0 25px 0;
      background: #d6f3f3;
      .inner{
        width:$baseWidth;
        margin:0 auto;
        .logo{
          float:left;
          width:100px;
        }
        .copyright{
          float:left;
          width:$baseWidth - 100px;
          text-align: right;
          color:#2187ab;
          //font-family: "Century Gothic", sans-serif;
        }
      }//.inner
    }//.liner
  }//#footer
}
.error{
  color:#f00;
}