#wrapper.diet {
    .fitBox {
        .ptb20 {
            display: inline-block;
            padding: 20px 0;
        }
        &#thinking {
            &:before {
                background: url("../image/bg/fit/diet/thinkingOfTheDiet.jpg") no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
        }
        &#diet {
            &:before {
                background:url("../image/bg/fit/diet/dietaryGuidance.png") no-repeat;
                height: 71px;
            }
        }
        &#trainning {
            &:before {
                background: url("../image/bg/fit/diet/trainning.jpg") no-repeat;
                height: 71px;
            }
            .inner{
                width: 170px;
                margin-top: 25px;
                background-color: #e1f3fa;
                float: left;
                height: 196px;
                .thumb{
                    padding: 3px;
                    padding-left: 0;
                    padding-bottom: 0;
                    box-sizing: border-box;
                }
                .detail{
                    padding: 3px;
                    font-size: 11px;
                    margin-top: -8px;
                }
            }
            .arrow{
                float: left;
                margin-top: 51 + 25px;
                margin-left: 14px;
                margin-right: 7px;
            }
            .flow{
                margin-left: 56px;
            }
            .flow.bottom{
                .inner{
                    height: auto;
                    .caption{
                        width: 170px;
                        height: 20px;
                        background-color: #004f93;
                        color: #fff;
                    }
                }
                .step5{
                    padding-top: 14px;
                    box-sizing: borde-box;
                }
            }
            .match-txt {
                width: 355px;
                margin: 0 10px;
                li {
                    margin-left: 20px;
                    text-align: left;
                    p {
                        width: 266px;
                        padding: 8px 0 12px 30px;
                    }
                }
            }
        }
        &#bodycare {
            &:before {
                background: url("../image/bg/fit/diet/bodyCare.jpg") no-repeat;
                height: 71px;
            }
            .box{
                padding-top: 20px;
                box-sizing: border-box;
            .thumb{
                float: left;
                margin-left: 45px;
            }
            .detail{
                float: left;
                margin-left: 15px;
                width: 300px;
                text-align: left;
                padding-top: 115px;
                box-sizing: border-box;
            }
        }

        }
        &#access {
            &:before {
                background:url("../image/bg/yg/about/access.jpg") no-repeat;
                height:102px;
            }
            table {
                margin:0 auto;
                th {
                    background:#ececec;
                    border-bottom:#fff 2px solid;
                    vertical-align: middle;
                    font-size:15px;
                    font-weight:normal;
                    width:190px;
                    padding:23px 0;
                }
                td {
                    width:454px;
                    border-bottom:#ececec 2px solid;
                    vertical-align: middle;
                    font-size:13px;
                    padding:0 0 0 19px;
                    @include box-sizing;
                    text-align:left;
                }
            }
            .btns {
                padding:0;
            }
        }
    }
}//#wrapper.about