#wrapper.fitness{

  #header{
    width: 1280px;
    padding: 0;

    .headerIn{
      width: 1280px;
      padding: 10px 0 10px 0;
      background: url("../image/bg/fitness/header.png") no-repeat;

      .inner{
        position: relative;

        .logo{
          position: absolute;
          z-index: 2;
        }

        .info{
          padding-left: 146px;
          color: #FFF;
        }
        .time{
          position: absolute;
          top: -5px;
          right: 50px;
          color: #fff;
        }
        .tel{
          height: 46px;
        }
      }//.inner
    }//.headerIn
    #global_nav{
      margin-top: 0;
      border-bottom: 2px solid #858d90;
      background: -webkit-linear-gradient(#fff, #f0f0f0);
      background: -o-linear-gradient(#fff, #f0f0f0);
      background: linear-gradient(#fff, #f0f0f0);

      ul{
        width: 940px;
        margin-left: 260px;
      }
    }
  }//#header
  #base_wrapper{
//    background: url("../image/bg/fitness/content.jpg") no-repeat #fef0f3;
    background-color: #d9e6ea;
  }
  #nav{
    dl{
      position: relative;
      padding: 38px 14px 0 14px;
      background-color: #FFF;

      dt{
        position: absolute;
        top: 5px;
        left: -3px;
      }
      dd{
        width: 153px;
        margin: 0 0 0 30px;
        padding: 18px 0 12px 40px;
        border-top: 2px solid #dedede;
        text-align: left;

        a{
          color: #545454;
        }
      }
      dd.takumifitness{
        background: url("../image/photo/fitness/tri1.png") no-repeat 24px 20px;
      }
      dd.schedule{
        background: url("../image/photo/fitness/tri2.png") no-repeat 24px 20px;
      }
      dd.program{
        background: url("../image/photo/fitness/tri3.png") no-repeat 24px 20px;
      }
      dd.aroma{
        background: url("../image/photo/fitness/tri4.png") no-repeat 24px 20px;
      }
      dd.first{
        border-top: none;
      }//dd
    }//dl
  }//#nav
  .contents{
    .bnr{
      width: 705px;
      margin: 23px 0 19px 0;
//      box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
//      -webkit-box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
//      -moz-box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
      img {vertical-align: bottom;}
    }// .bnr
    .mgbox{
      margin: 0 0 22px 0;

      .column{
        float:left;
        width:220px;
        margin-right:15px;
        box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
        text-align: left;
        &:last-child{
          margin-right:0;
        }
        .thumbnail{
          a{
            display: inline-block;
            vertical-align: bottom;
          }
          img{ vertical-align: bottom; }
        }//.thumbnail
        .label{
          width: 190px;
          padding: 10px 15px 30px 15px;
          background-image:
            url("../image/photo/fitness/arrow.png"),
            url("../image/bg/fitness/menu.jpg");
          background-repeat:
            no-repeat,
            repeat;
          background-position:
            bottom 4px left 50%,
            0 0;
          color: #FFF;
          font-size: 14px;
        }
      }// .column_box

      .info{
        background-color: #fff;
        border: 1px solid #5580b4;
        .info_box_header{
          text-align: center;
        }
        .info_box_header img{
          vertical-align: bottom;
        }
        .iwrap{
          width: 699px;
          // background: url("../../image/photo/top/news_body.jpg");
          
        }
        .info_box_body{
          display: table;
          width:600px;
          margin:0 auto;
          padding:10px 0;

          .line{
            display: table-row;
            width:100%;
            text-align: left;

            .date{
              display: table-cell;
              padding:7px 0;
              padding-left:2px;
              width:90px;
              vertical-align: top;
            }
            .label{
              display: table-cell;
              padding:7px 0;
              width:72px;
              vertical-align: top;

              .new{
                display: inline-block;
                width: 31px;
                padding: 0 3px;
                font-size: 13px;
                color: #FFF;
                background-color: #bf2209;
              }
            }
            .cnt{
              display: table-cell;
              padding:7px 0;
              vertical-align: top;
              a{
                color: #404040;
                font-weight: normal;
              }
            }
            /*&:first-child{
              .date,.label,.cnt{
                border-top:1px #966731 dashed;
              }
            }*/
          }//.line
        }//.info_box_body
      }//.info_box
    }//.mgbox
    .go_top{
      text-align: right;
      margin:0 auto;
      padding:20px 0;
      a{
        display: inline-block;
        width: 120px;
        padding-left: 10px;
        font-size: 12px;
        color: #5784a1;
        background: url("../image/photo/fitness/pagetop.png") no-repeat 0 0;
      }
      }
    }//.go_top
  .bnrArea{
    .bnr{
      img{
        margin-bottom: 20px;
      }
    }
  }//.contents

  #footer{
    width:100%;
    min-width: 1280px;

    .liner{
      border-top:1px #e6dccc solid;
      padding:15px 0 25px 0;
      background: #0073b5;

      .inner{
        width: 940px; // $basewidth
        margin: 0 auto;

        .logo{
          float: left;
          width: 100px;
        }

        .copyright{
          float: left;
          width: 940px - 100px;//$basewidth
          text-align: right;
          color: #FFF;
          //font-family: "Century Gothic", sans-serif;
        }
      }//.inner
    }//.liner
  }//#footer
}//#wrapper.fitness