#wrapper.price {
    .fitBox {
        border: none;
        .ptb20 {
            display: inline-block;
            padding: 20px 0;
        }
        &#price {
            &:before {
                background: url("../image/bg/fit/price/price.png") no-repeat;
                background-color: #fff;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                background: none;
                background-color: #fff;
                img{
                    margin-top: 10px;
                }
            }
            table{
                width: 650px;
                // text-align: center;
                tr{
                    th.beginner{
                        background: url("../image/bg/fit/price/beginner.png") no-repeat left center;
                        background-color: #f1f1f1;
                    }
                    th{
                        background-color: #f1f1f1;
                        font-size: 14px;
                        width: 125px;
                        height: 53px;
                    }
                    td{
                        border-bottom: 2px solid #f1f1f1;
                        font-size: 14px;
                        text-align: left;
                        padding-left: 15px;
                        box-sizing: border-box;
                        position: relative;
                        .sale{
                            position: absolute;
                            top: -13px;
                        }
                    }
                }
            }

            ul{
                margin-top: 20px;
                li{
                    text-align: left;
                    background: url("../image/bg/fit/price/point1.png")no-repeat left center;
                    height: 45px;
                    vertical-align: middle;
                    font-size: 14px;
                    padding: 15px 0 15px 70px;
                    border-bottom: 2px dotted #d2d2d2;
                    box-sizing: border-box;
                    margin: 5px 0;
                    height: 56px;
                    &:nth-child(2){
                        background: url("../image/bg/fit/price/point2.png")no-repeat left center;
                    }
                    &:nth-child(3){
                        background: url("../image/bg/fit/price/point3.png")no-repeat left center;
                        position: relative;
                        .mark{
                            position: absolute;
                            top: -23px;
                            margin-left: 7px;
                        }
                    }
                    &:nth-child(4){
                        background: url("../image/bg/fit/price/point4.png")no-repeat left center;
                    }
                }
            }
            .detail,.title{
                width: 650px;
                margin: 0 auto;
            }
            .title{
                margin-bottom: 15px;
                img{
                    vertical-align: bottom;
                }
            }
            .femaleOnly{
                margin-bottom: 105px;
                .title{
                    text-align: left;
                    margin: 0;
                }
                ul{
                    margin: 0;
                    li{
                        background: url("../image/bg/fit/price/femalePoint1.png")no-repeat left center;
                        &:nth-child(2){
                            background: url("../image/bg/fit/price/femalePoint2.png")no-repeat left center;
                        }
                    }
                }
            }
            .golfCourse{
                margin-top: 105px;
                table{
                    .beginner{
                        padding-left: 5px;
                        box-sizing: border-box;
                    }
                    td{
                        span{
                            font-size: 11px;
                        }
                    }
                }
                ul{
                    padding-bottom: 50px;
                    box-sizing: border-box;
                }
            }
        }
    }
    .fitBox.unshadow.priceshadow::after{
        content: '';
        background: url("../image/bg/fit/fit_footer-unshadow_price.png")no-repeat;
        height: 30px;
        width: 702px;
        display: block;
    }
}//#wrapper.price