#wrapper.program {

    .section_box{
        width: 700px;
        background-color: #d0a0c0;

        .inner{
            width: 696px;
            padding: 2px;
            background-color: #FFF;
            img{ vertical-align: bottom; }
        }
    }
    .studio{
        @extend .section_box;
        padding: 3px 1px 1px 1px;
        .inner{
            padding-bottom: 40px;
        }

        .typelist{
            width: 590px;
            margin: 40px auto 0 auto;
            text-align: left;
            .listname{
                padding: 0 !important;
            }//.listname
            li{
                margin-bottom: 20px;

                figure{
                    width: 580px;
                    margin: 0 0 0 auto;
                    img{
                        float: left;
                    }
                    figcaption{
                        width: 447px;
                        padding: 0 10px;
                        float: left;
                    }
                }
                .dot-border{
                    width: 100%;
                    height: 4px;
                    margin-top: 15px;
                }
            }
            li.relax .dot-border{
                background: url("../image/photo/program/dot_relax.jpg") repeat;
            }
            li.hata .dot-border{
                background: url("../image/photo/program/dot_hata.jpg") repeat;
            }
            li.hataflow .dot-border{
                background: url("../image/photo/program/dot_hataflow.jpg") repeat;
            }
            li.healing .dot-border{
                background: url("../image/photo/program/dot_healing.jpg") repeat;
            }
            li.aroma .dot-border{
                background: url("../image/photo/program/dot_aroma.jpg") repeat;
            }
        }//.typelist
        .subtitle{
            width: 644px;
            margin: 0 auto;
            padding: 5px 10px 5px 25px !important;
            letter-spacing: 4px;
            font-size: 16px;
            font-weight: bold;
            background: url("../image/photo/program/subtit.jpg") no-repeat;
        }
        .detail{
            width: 610px;
            margin: 0 auto 42px auto;
            img, figcaption{float: left;}
            figcaption{
                width: 347px;
                padding-left: 16px;
                text-align: left;
            }
        }
    }//.studio
    .forfirst{
        @extend .section_box;
        padding: 1px;

        .inner{
            padding-bottom: 40px;
        }
        .reason-list{
            width: 590px;
            margin: 0 auto;
            padding: 32px 0 40px 0;
            img{
                margin-bottom: 14px;
            }
            .list{
                width: 185px;
                float: left;
                margin-left: 15px;

                &:first-child{
                    margin-left: 0px;
                }
                .midashi{
                    width: 100%;
                    margin-bottom: 12px;
                    text-align: center;
                    font-size: 18px;
                }
                .midashi1{
                    @extend .midashi;
                    color: #d917f5;
                }
                .midashi2{
                    @extend .midashi;
                    color: #00a3ef;
                }
                .midashi3{
                    @extend .midashi;
                    color: #00d0ba;
                }
                .cont{
                    text-align: left;
                    font-size: 14px;
                }//.cont
            }//.list
        }//.reason-list
    }//.forfirst
    .m-r-30{
        margin-right: 30px;
    }
}//#wrapper.schedule