#wrapper.school {
  .ygBox {
    &#ygschool{

        &:before {
          background:url("../image/bg/yg/school/school_header.jpg") no-repeat;
          height:114px;
        }

        .midashi{
            margin: 30px 0 !important;
        }
        .feature{
            width: 610px;
            margin: 0 auto;
            dt{
                width: 100%;
                margin-bottom: 15px;
                font-family: "HiraMinProN-W6";
                font-size: 24px;
                text-align: left;
                color: #a99ac7;
            }
            dd{
                width: 100%;
                margin: 0 !important;
                padding-bottom: 35px;
                text-align: left;
                font-size: 14px;
            }
        }
    }//#ygschool
    &#entry {
        &:before {
            background: url("../image/bg/yg/school/entry.jpg") no-repeat;
            height: 96px;
        }
        p{
            width: 610px;
            margin: 0 auto;
        }
    }
  }//.ygBox
}//#wrapper.instructor