#wrapper.schedule {

    .calendar, .event, .fees{
        width: 700px;
        background-color: #d0a0c0;

        .inner{
            width: 696px;
            padding: 2px;
            background-color: #FFF;
        }
    }
    .calendar{

        padding: 3px 1px 1px 1px;
        border-top: 2px solid #af7e9f;

        .date{
            padding-right: 50px;
            text-align: right;
        }
        .m-r-20{
            margin-right: 20px;
        }
    }//.calendar
    .event{

        width: 700px;
        padding: 1px;

        .photo{
            box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
            -webkit-box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.3);
        }
    }//.event
    .fees {

        padding: 1px;

        .m-r-20{
            margin-right: 20px;
        }
        .subTit{
            display: block;
            width: 644px;
            height: 28px;
            margin: 0 auto;
            padding: 5px 0 0px 20px !important;
            background: url("../image/photo/schedule/subtit.jpg") no-repeat 0 -2px;
            font-size: 16px;
            font-weight: bold;

            span{
                font-size: 12px;
                color: #5a1961;
            }
        }
        .m-t-34{
            margin-top: 34px;
        }
        .m-b-34{
            margin-bottom: 34px;
        }

        .list{
            width: 602px;
            margin: 0 auto;
            .item{
                margin: 5px 0;
                padding: 15px 0 15px 70px;
                text-align: left;
                border-bottom: 1px dotted #d2d2d2;
            }
            .item1{
                @extend .item;
                background: url("../image/photo/schedule/tokuten1.jpg") no-repeat 0 5px;
            }
            .item2{
                @extend .item;
                background: url("../image/photo/schedule/tokuten2.jpg") no-repeat 0 5px;
            }
            .item3{
                @extend .item;
                background: url("../image/photo/schedule/tokuten3.jpg") no-repeat 0 5px;
            }
        }
        table{
            position: relative;
            width: 644px;
            margin: 0 auto;
            .left{
                width: 160px;
                padding: 25px 0;
                background-color: #ececec;
                // border-bottom: 2px solid #FFF;
            }
            .right{
                width: 470px;
                padding: 28px 0 20px 0;
                text-align: left;

                .price25{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .comment{
                display: inline-block;
            }
            .p-0{
                padding: 0;
            }
            .border-b-2{
                border-bottom: 2px solid #ececec;
            }
        }
    }
}//#wrapper.schedule