#wrapper.shopStaff {
    .fitBox {
        .ptb20 {
            display: inline-block;
            padding: 20px 0;
        }
        &#shopImage {
            &:before {
                background: url("../image/bg/fit/shopStaff/shopImage.jpg") no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
            .shopImageThumb{
                padding-top: 20px;
                box-sizing: border-box;
            }
            .summary{
                text-align: left;
                width: 514px;
                margin: 0 auto;
                .title{
                    margin-top: 20px;
                    font-weight: bold;
                }
                .desc{
                    padding: 0;
                }
            }
        }
        &#shopStaff {
            &:before {
                background: url("../image/bg/fit/shopStaff/staffImage.jpg") no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
            .staffBox{
                margin-left: -40px;
            }
        }
        &#shopAccess {
            &:before {
                background: url("../image/bg/fit/shopStaff/Access.jpg") no-repeat;
                height: 71px;
            }
            .about-txt {
                width: 323px;
                margin: 0 10px 0 20px;
                p {
                    margin-bottom: 15px;
                }
            }
            .fit-body{
                img{
                    margin-top: 10px;
                }
            }
            table{
                width: 615px;
                margin: 0 auto;
                padding-top: 55px;
                box-sizing: border-box;
                tbody{
                    tr{
                        th{
                            background-color: #a1cde0;
                            width: 150px;
                            height: 52px;
                        }
                        td{
                            text-align: left;
                            padding-left: 45px;
                            box-sizing: border-box;
                            border-bottom: 2px solid #a1cde0;
                        }
                    }
                }
            }
            .accessMap{
                padding-bottom: 55px;
                box-sizing:border-box;
            }
        }
    }
}//#wrapper.shopStaff


