@charset "UTF-8";
/*------------------------------------------------
	base styles
--------------------------------------------------*/
body {
  color: #404040;
  text-align: center;
  font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 80%;
  background-color: #ffffff;
  line-height: 1.5em;
}

td {
  color: #000000;
  font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

body, p, dl, ol, ul, h1, h2, h3, h4, h5, h6, form, table, td {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

ol, ul {
  list-style-type: none;
}

ol li img,
ul li img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

img {
  border: none;
}

select {
  font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

input, textarea, selectbox {
  color: #000000;
}

textarea {
  font-size: 100%;
  font-family: "メイリオ","ＭＳ Ｐゴシック",sans-serif;
}

strong {
  font-weight: bold;
}

a:link {
  color: #19254d;
}

a:visited {
  color: #19254d;
}

a:hover {
  text-decoration: none;
}

a:hover img {
  opacity: 0.8;
}

/*------------------------------------------------
	common styles
--------------------------------------------------*/
.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0px;
  font-size: 0.1em;
  line-height: 0;
}

/* no ie mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
  *zoom: 1;
}

/* --------------------------------------------- */
/* global */
.right {
  float: right;
}

.left {
  float: left;
}

.both {
  clear: both;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center !important;
}

a, a:link, a:visited, a:hover, a:active {
  color: #966731;
  font-weight: bold;
  text-decoration: none;
}

.fitBox {
  width: 702px;
  margin: 0 auto;
}

.fitBox:before {
  content: '';
  height: 114px;
  width: 702px;
  display: block;
}

.fitBox:after {
  content: '';
  background: url("../image/bg/fit/fit_footer.png") no-repeat;
  height: 30px;
  width: 702px;
  display: block;
}

.fitBox.unshadow:after {
  content: '';
  background: url("../image/bg/fit/fit_footer-unshadow.png") no-repeat;
  height: 30px;
  width: 702px;
  display: block;
}

.fitBox .fit-body {
  background: url("../image/bg/fit/fit_body.png") repeat;
  width: 702px;
}

.fitBox .fit-body figure.fig {
  margin: 0;
  padding: 0 0 30px 0;
}

.fitBox .fit-body .btns {
  width: 606px;
  margin: 0 auto;
  padding: 30px 0;
}

.fitBox .fit-body .btns:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.fitBox .fit-body .btns li {
  float: right;
}

.fitBox .fit-body .btns li:first-child {
  float: left;
}

#pkz {
  margin: 0 160px 20px 0;
}

#pkz:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#pkz ul {
  float: right;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#pkz li {
  float: left;
}

#pkz li:not(:last-child):after {
  content: '>';
  padding: 0 4px;
}

#pkz li a {
  color: #010101;
  text-decoration: none;
}

#wrapper {
  /*横可変レイアウトの場合*/
  /*
  width:100%;
  min-width:minWidth;
  position: absolute;
  z-index:1;
  left:0;
  top:0;
  */
  width: 1280px;
  margin: 0 auto;
}

#wrapper:before {
  /*横可変レイアウトの場合*/
  /*背景画像の設定*/
  /*content:url("../../image/bg/main.jpg");
    position: absolute;
    z-index:-1;
    left:50%;
    top:0;
    margin-left:-640px;//画像サイズの半分のサイズを指定*/
}

#wrapper #header {
  padding: 15px 0 0 0;
}

#wrapper #header .inner {
  width: 940px;
  margin: 0 auto;
  display: table;
}

#wrapper #header .inner h1 {
  width: 111px;
  *float: left;
  display: table-cell;
  vertical-align: middle;
}

#wrapper #header .inner p {
  display: table-cell;
  *float: left;
  width: 584px;
  text-align: left;
  padding-left: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  vertical-align: bottom;
}

#wrapper #header .inner .tel {
  *float: right;
  display: table-cell;
  width: 245px;
}

#wrapper #header #global_nav {
  width: 1280px;
  margin: 15px auto 0 auto;
}

#wrapper #header #global_nav ul {
  width: 940px;
  margin: 0 auto;
}

#wrapper #header #global_nav ul li {
  float: left;
}

#wrapper #header #global_nav ul li.concept {
  position: relative;
}

#wrapper #header #global_nav ul li.concept:hover ul {
  display: block;
}

#wrapper #header #global_nav ul li.concept ul {
  position: absolute;
  bottom: -80px;
  left: 0;
  z-index: 9999;
  display: none;
  width: 188px;
}

#wrapper #header #global_nav ul li.concept ul li {
  float: none;
}

#wrapper #base_wrapper {
  margin: 0 auto;
  width: 1280px;
  padding: 20px 0 0 0;
  background: url("../../image/bg/bg.jpg") no-repeat;
  background-color: #fff;
}

#wrapper #content_wrapper {
  width: 940px;
  margin: 0 auto;
}

#wrapper #content_wrapper .side {
  width: 223px;
  float: left;
}

#wrapper #content_wrapper .side #nav {
  margin-bottom: 10px;
}

#wrapper #content_wrapper .side #nav dl {
  margin: 0 0 10px 0;
}

#wrapper #content_wrapper .side #nav dl dt {
  margin: 0;
}

#wrapper #content_wrapper .side #nav dl dt img {
  vertical-align: top;
}

#wrapper #content_wrapper .side #nav dl dd {
  margin: 0;
}

#wrapper #content_wrapper .side #nav dl dd img {
  vertical-align: top;
}

#wrapper #content_wrapper .side #nav dl dd a:hover {
  color: #999;
}

#wrapper #content_wrapper .side .bnr ul li {
  margin: 15px 0;
}

#wrapper #content_wrapper .contents {
  width: 705px;
  float: right;
}

#wrapper #content_wrapper .contents.white {
  background: #fff;
}

#wrapper #content_wrapper .contents.concept h3 {
  text-align: left;
  padding: 0 0 0 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents.concept h3.normal {
  padding: 0 !important;
}

#wrapper #content_wrapper .contents h2 {
  margin-bottom: 20px;
  text-align: left;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents .pkz {
  padding: 3px 0 0 3px;
  margin: 0 0 25px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents .pkz ul {
  display: table;
  margin-bottom: 7px;
}

#wrapper #content_wrapper .contents .pkz ul li {
  display: table-cell;
}

#wrapper #content_wrapper .contents .pkz ul li:not(:first-child):before {
  content: ">";
  padding: 0 5px;
}

#wrapper #content_wrapper .contents .pkz ul li a {
  color: #966731;
  font-weight: normal;
}

#wrapper #content_wrapper .contents .mgbox, #wrapper #content_wrapper .contents .colorbox {
  margin: 40px 0;
}

#wrapper #content_wrapper .contents .colorbox {
  background: #eedebb;
}

#wrapper #content_wrapper .contents .box .section, #wrapper #content_wrapper .contents .mgbox .section, #wrapper #content_wrapper .contents .colorbox .section {
  margin: 20px 0;
}

#wrapper #content_wrapper .contents .box .section.btn.half, #wrapper #content_wrapper .contents .mgbox .section.btn.half, #wrapper #content_wrapper .contents .colorbox .section.btn.half {
  width: 320px;
  float: left;
  margin: 0 30px 0 20px;
}

#wrapper #content_wrapper .contents .box .section.btn.half:last-child, #wrapper #content_wrapper .contents .mgbox .section.btn.half:last-child, #wrapper #content_wrapper .contents .colorbox .section.btn.half:last-child {
  margin: 0;
}

#wrapper #content_wrapper .contents .box .formTable, #wrapper #content_wrapper .contents .mgbox .formTable, #wrapper #content_wrapper .contents .colorbox .formTable {
  width: 100%;
  border: 1px #e9e0d2 solid;
  border-collapse: collapse;
}

#wrapper #content_wrapper .contents .box .formTable th, #wrapper #content_wrapper .contents .mgbox .formTable th, #wrapper #content_wrapper .contents .colorbox .formTable th {
  border: 1px #e9e0d2 solid;
  vertical-align: middle;
  font-weight: normal;
  width: 147px;
}

#wrapper #content_wrapper .contents .box .formTable td, #wrapper #content_wrapper .contents .mgbox .formTable td, #wrapper #content_wrapper .contents .colorbox .formTable td {
  border: 1px #e9e0d2 solid;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 15px;
}

#wrapper #content_wrapper .contents .box .formTable td.priority, #wrapper #content_wrapper .contents .mgbox .formTable td.priority, #wrapper #content_wrapper .contents .colorbox .formTable td.priority {
  padding: 0;
  width: 56px;
  text-align: center;
  color: #ff3f38;
}

#wrapper #content_wrapper .contents .box .formTable td.priority.option, #wrapper #content_wrapper .contents .mgbox .formTable td.priority.option, #wrapper #content_wrapper .contents .colorbox .formTable td.priority.option {
  color: #b5aa9f;
}

#wrapper #content_wrapper .contents .box .formTable td textarea, #wrapper #content_wrapper .contents .mgbox .formTable td textarea, #wrapper #content_wrapper .contents .colorbox .formTable td textarea {
  width: 430px;
  border: 1px #e9e0d2 solid;
}

#wrapper #content_wrapper .contents .box .formTable td input[type="text"], #wrapper #content_wrapper .contents .mgbox .formTable td input[type="text"], #wrapper #content_wrapper .contents .colorbox .formTable td input[type="text"] {
  width: 295px;
}

#wrapper #content_wrapper .contents .box .formTable td input[type="text"].long, #wrapper #content_wrapper .contents .mgbox .formTable td input[type="text"].long, #wrapper #content_wrapper .contents .colorbox .formTable td input[type="text"].long {
  width: 445px;
}

#wrapper #content_wrapper .contents .box .formTable td input[type="text"].tel, #wrapper #content_wrapper .contents .mgbox .formTable td input[type="text"].tel, #wrapper #content_wrapper .contents .colorbox .formTable td input[type="text"].tel {
  width: 40px;
}

#wrapper #content_wrapper .contents .box .formTable td .mg_right, #wrapper #content_wrapper .contents .mgbox .formTable td .mg_right, #wrapper #content_wrapper .contents .colorbox .formTable td .mg_right {
  margin-right: 50px;
}

#wrapper #content_wrapper .contents .box .formTable td select, #wrapper #content_wrapper .contents .mgbox .formTable td select, #wrapper #content_wrapper .contents .colorbox .formTable td select {
  display: block;
  margin: 0 0 10px;
}

#wrapper #content_wrapper .contents .box .formTable td p.eg, #wrapper #content_wrapper .contents .mgbox .formTable td p.eg, #wrapper #content_wrapper .contents .colorbox .formTable td p.eg {
  font-size: 10px;
  color: #b6b6b6;
}

#wrapper #content_wrapper .contents .box .bnrText, #wrapper #content_wrapper .contents .mgbox .bnrText, #wrapper #content_wrapper .contents .colorbox .bnrText {
  width: 650px;
  margin: 0 auto;
}

#wrapper #content_wrapper .contents .box .bnrText p, #wrapper #content_wrapper .contents .mgbox .bnrText p, #wrapper #content_wrapper .contents .colorbox .bnrText p {
  margin: 0 0 15px 0;
}

#wrapper #content_wrapper .contents .box ul.bnr li, #wrapper #content_wrapper .contents .mgbox ul.bnr li, #wrapper #content_wrapper .contents .colorbox ul.bnr li {
  margin: 0 0 15px 0;
}

#wrapper #content_wrapper .contents .box h2, #wrapper #content_wrapper .contents .mgbox h2, #wrapper #content_wrapper .contents .colorbox h2 {
  margin-top: -20px;
  margin-bottom: 15px;
}

#wrapper #content_wrapper .contents .box h3, #wrapper #content_wrapper .contents .mgbox h3, #wrapper #content_wrapper .contents .colorbox h3 {
  margin-bottom: 15px;
}

#wrapper #content_wrapper .contents .box h4, #wrapper #content_wrapper .contents .mgbox h4, #wrapper #content_wrapper .contents .colorbox h4 {
  margin-bottom: 15px;
}

#wrapper #content_wrapper .contents .box p, #wrapper #content_wrapper .contents .mgbox p, #wrapper #content_wrapper .contents .colorbox p {
  text-align: left;
}

#wrapper #content_wrapper .contents .box p.caution, #wrapper #content_wrapper .contents .mgbox p.caution, #wrapper #content_wrapper .contents .colorbox p.caution {
  text-align: right;
  font-size: 90%;
}

#wrapper #content_wrapper .contents .box p.images, #wrapper #content_wrapper .contents .mgbox p.images, #wrapper #content_wrapper .contents .colorbox p.images {
  text-align: center;
  margin: 10px 0;
}

#wrapper #content_wrapper .contents .box p.mini, #wrapper #content_wrapper .contents .mgbox p.mini, #wrapper #content_wrapper .contents .colorbox p.mini {
  width: 650px;
  margin: 0 auto;
}

#wrapper #content_wrapper .contents .box p.desc, #wrapper #content_wrapper .contents .mgbox p.desc, #wrapper #content_wrapper .contents .colorbox p.desc {
  padding: 0 15px;
  margin: 10px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents .box p img.pad, #wrapper #content_wrapper .contents .mgbox p img.pad, #wrapper #content_wrapper .contents .colorbox p img.pad {
  padding: 0 10px;
}

#wrapper #content_wrapper .contents .box.plimogel .imageData, #wrapper #content_wrapper .contents .plimogel.mgbox .imageData, #wrapper #content_wrapper .contents .plimogel.colorbox .imageData {
  margin: 25px 0;
}

#wrapper #content_wrapper .contents .box .imageData, #wrapper #content_wrapper .contents .mgbox .imageData, #wrapper #content_wrapper .contents .colorbox .imageData {
  margin: 15px 0;
}

#wrapper #content_wrapper .contents .box .imageBlock, #wrapper #content_wrapper .contents .mgbox .imageBlock, #wrapper #content_wrapper .contents .colorbox .imageBlock {
  margin: 15px 0;
  text-align: center;
}

#wrapper #content_wrapper .contents .box .imageBlock.left, #wrapper #content_wrapper .contents .mgbox .imageBlock.left, #wrapper #content_wrapper .contents .colorbox .imageBlock.left {
  text-align: left !important;
}

#wrapper #content_wrapper .contents .box .bnrs, #wrapper #content_wrapper .contents .mgbox .bnrs, #wrapper #content_wrapper .contents .colorbox .bnrs {
  margin: 50px 0 25px 0;
}

#wrapper #content_wrapper .contents .box .buyBtn, #wrapper #content_wrapper .contents .mgbox .buyBtn, #wrapper #content_wrapper .contents .colorbox .buyBtn {
  text-align: right;
  margin: 30px 0;
}

#wrapper #content_wrapper .contents .box .desc, #wrapper #content_wrapper .contents .mgbox .desc, #wrapper #content_wrapper .contents .colorbox .desc {
  padding: 0 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents .box .desc p, #wrapper #content_wrapper .contents .mgbox .desc p, #wrapper #content_wrapper .contents .colorbox .desc p {
  margin-bottom: 15px;
}

#wrapper #content_wrapper .contents .box .desc p span, #wrapper #content_wrapper .contents .mgbox .desc p span, #wrapper #content_wrapper .contents .colorbox .desc p span {
  font-weight: bold;
  color: #966731;
  line-height: 2.5em;
}

#wrapper #content_wrapper .contents .box .article, #wrapper #content_wrapper .contents .mgbox .article, #wrapper #content_wrapper .contents .colorbox .article {
  margin: 15px 0;
}

#wrapper #content_wrapper .contents .box .article h5, #wrapper #content_wrapper .contents .mgbox .article h5, #wrapper #content_wrapper .contents .colorbox .article h5 {
  text-align: left;
  margin-bottom: 15px;
}

#wrapper #content_wrapper .contents .box .article .blue, #wrapper #content_wrapper .contents .mgbox .article .blue, #wrapper #content_wrapper .contents .colorbox .article .blue {
  background: #f3f9f9;
  padding: 15px 0;
}

#wrapper #content_wrapper .contents .box .inner_box, #wrapper #content_wrapper .contents .mgbox .inner_box, #wrapper #content_wrapper .contents .colorbox .inner_box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 0 30px;
}

#wrapper #content_wrapper .contents .box .inner_box p, #wrapper #content_wrapper .contents .mgbox .inner_box p, #wrapper #content_wrapper .contents .colorbox .inner_box p {
  margin-bottom: 20px;
}

#wrapper #content_wrapper .contents .box .inner_box p.in, #wrapper #content_wrapper .contents .mgbox .inner_box p.in, #wrapper #content_wrapper .contents .colorbox .inner_box p.in {
  padding-left: 15px;
  margin-top: -30px;
}

#wrapper #content_wrapper .contents .box .tel_reserve, #wrapper #content_wrapper .contents .mgbox .tel_reserve, #wrapper #content_wrapper .contents .colorbox .tel_reserve {
  width: 700px;
  margin: 0 auto;
  height: 120px;
  position: relative;
}

#wrapper #content_wrapper .contents .box .tel_reserve .button, #wrapper #content_wrapper .contents .mgbox .tel_reserve .button, #wrapper #content_wrapper .contents .colorbox .tel_reserve .button {
  position: absolute;
  bottom: 20px;
  right: 55px;
}

#wrapper #content_wrapper .contents .box .list_box, #wrapper #content_wrapper .contents .mgbox .list_box, #wrapper #content_wrapper .contents .colorbox .list_box {
  display: table;
  width: 640px;
  margin: 0 auto;
}

#wrapper #content_wrapper .contents .box .list_box ul, #wrapper #content_wrapper .contents .mgbox .list_box ul, #wrapper #content_wrapper .contents .colorbox .list_box ul {
  display: table-cell;
}

#wrapper #content_wrapper .contents .box .list_box ul.cube li, #wrapper #content_wrapper .contents .mgbox .list_box ul.cube li, #wrapper #content_wrapper .contents .colorbox .list_box ul.cube li {
  text-align: left;
}

#wrapper #content_wrapper .contents .box .list_box ul.cube li:before, #wrapper #content_wrapper .contents .mgbox .list_box ul.cube li:before, #wrapper #content_wrapper .contents .colorbox .list_box ul.cube li:before {
  content: "◆";
  padding-right: 10px;
}

#wrapper #content_wrapper .contents .box .image_description, #wrapper #content_wrapper .contents .mgbox .image_description, #wrapper #content_wrapper .contents .colorbox .image_description {
  display: table;
  width: 100%;
}

#wrapper #content_wrapper .contents .box .image_description .img, #wrapper #content_wrapper .contents .mgbox .image_description .img, #wrapper #content_wrapper .contents .colorbox .image_description .img {
  display: table-cell;
  vertical-align: top;
  width: 270px;
}

#wrapper #content_wrapper .contents .box .image_description .description, #wrapper #content_wrapper .contents .mgbox .image_description .description, #wrapper #content_wrapper .contents .colorbox .image_description .description {
  display: table-cell;
  vertical-align: top;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents .box .image_description .description p, #wrapper #content_wrapper .contents .mgbox .image_description .description p, #wrapper #content_wrapper .contents .colorbox .image_description .description p {
  margin-bottom: 15px;
  text-align: left;
}

#wrapper #content_wrapper .contents .box .image_description .description p.title, #wrapper #content_wrapper .contents .mgbox .image_description .description p.title, #wrapper #content_wrapper .contents .colorbox .image_description .description p.title {
  color: #966731;
  font-weight: bold;
}

#wrapper #content_wrapper .contents .box .access_info, #wrapper #content_wrapper .contents .mgbox .access_info, #wrapper #content_wrapper .contents .colorbox .access_info {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
}

#wrapper #content_wrapper .contents .box .access_info .map, #wrapper #content_wrapper .contents .mgbox .access_info .map, #wrapper #content_wrapper .contents .colorbox .access_info .map {
  width: 480px;
  display: table-cell;
  vertical-align: top;
}

#wrapper #content_wrapper .contents .box .access_info .map .mapInner, #wrapper #content_wrapper .contents .mgbox .access_info .map .mapInner, #wrapper #content_wrapper .contents .colorbox .access_info .map .mapInner {
  position: relative;
}

#wrapper #content_wrapper .contents .box .access_info .map .mapInner .top, #wrapper #content_wrapper .contents .mgbox .access_info .map .mapInner .top, #wrapper #content_wrapper .contents .colorbox .access_info .map .mapInner .top {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 9999;
}

#wrapper #content_wrapper .contents .box .access_info .map .mapInner .bottom, #wrapper #content_wrapper .contents .mgbox .access_info .map .mapInner .bottom, #wrapper #content_wrapper .contents .colorbox .access_info .map .mapInner .bottom {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 9999;
}

#wrapper #content_wrapper .contents .box .access_info .access, #wrapper #content_wrapper .contents .mgbox .access_info .access, #wrapper #content_wrapper .contents .colorbox .access_info .access {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding-left: 15px;
}

#wrapper #content_wrapper .contents .box .access_info .access p, #wrapper #content_wrapper .contents .mgbox .access_info .access p, #wrapper #content_wrapper .contents .colorbox .access_info .access p {
  margin-bottom: 20px;
}

#wrapper #content_wrapper .contents .box .access_info .access p.mg_top, #wrapper #content_wrapper .contents .mgbox .access_info .access p.mg_top, #wrapper #content_wrapper .contents .colorbox .access_info .access p.mg_top {
  margin-top: 40px;
}

#wrapper #content_wrapper .contents .box .access_info .access p span, #wrapper #content_wrapper .contents .mgbox .access_info .access p span, #wrapper #content_wrapper .contents .colorbox .access_info .access p span {
  color: #ea759c;
  font-weight: bold;
}

#wrapper #content_wrapper .contents .box .imgList, #wrapper #content_wrapper .contents .mgbox .imgList, #wrapper #content_wrapper .contents .colorbox .imgList {
  width: 680px;
  margin: 15px auto;
}

#wrapper #content_wrapper .contents .box .imgList li, #wrapper #content_wrapper .contents .mgbox .imgList li, #wrapper #content_wrapper .contents .colorbox .imgList li {
  float: left;
  margin: 0 10px 0 0;
}

#wrapper #content_wrapper .contents .box .two_column_table, #wrapper #content_wrapper .contents .mgbox .two_column_table, #wrapper #content_wrapper .contents .colorbox .two_column_table {
  display: table;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  background: #fff;
  border: 1px #ece4d5 solid;
}

#wrapper #content_wrapper .contents .box .two_column_table.noborder, #wrapper #content_wrapper .contents .mgbox .two_column_table.noborder, #wrapper #content_wrapper .contents .colorbox .two_column_table.noborder {
  border: none !important;
}

#wrapper #content_wrapper .contents .box .two_column_table.noborder .column, #wrapper #content_wrapper .contents .mgbox .two_column_table.noborder .column, #wrapper #content_wrapper .contents .colorbox .two_column_table.noborder .column {
  border: none !important;
}

#wrapper #content_wrapper .contents .box .two_column_table.borderBottom, #wrapper #content_wrapper .contents .mgbox .two_column_table.borderBottom, #wrapper #content_wrapper .contents .colorbox .two_column_table.borderBottom {
  border: none !important;
}

#wrapper #content_wrapper .contents .box .two_column_table.borderBottom .column, #wrapper #content_wrapper .contents .mgbox .two_column_table.borderBottom .column, #wrapper #content_wrapper .contents .colorbox .two_column_table.borderBottom .column {
  border-right: none !important;
  border-bottom: 1px #966731 dotted;
}

#wrapper #content_wrapper .contents .box .two_column_table.mg_bottom, #wrapper #content_wrapper .contents .mgbox .two_column_table.mg_bottom, #wrapper #content_wrapper .contents .colorbox .two_column_table.mg_bottom {
  margin-bottom: 20px;
}

#wrapper #content_wrapper .contents .box .two_column_table.project .column, #wrapper #content_wrapper .contents .mgbox .two_column_table.project .column, #wrapper #content_wrapper .contents .colorbox .two_column_table.project .column {
  padding: 10px 15px !important;
}

#wrapper #content_wrapper .contents .box .two_column_table.project .column.title, #wrapper #content_wrapper .contents .mgbox .two_column_table.project .column.title, #wrapper #content_wrapper .contents .colorbox .two_column_table.project .column.title {
  background: #fefcfc;
  color: #5f2e13;
}

#wrapper #content_wrapper .contents .box .two_column_table .row, #wrapper #content_wrapper .contents .mgbox .two_column_table .row, #wrapper #content_wrapper .contents .colorbox .two_column_table .row {
  display: table-row;
}

#wrapper #content_wrapper .contents .box .two_column_table .row:not(:last-child) .column, #wrapper #content_wrapper .contents .mgbox .two_column_table .row:not(:last-child) .column, #wrapper #content_wrapper .contents .colorbox .two_column_table .row:not(:last-child) .column {
  border-bottom: 1px #ece4d5 solid;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column {
  display: table-cell;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: left;
  padding: 10px 15px;
  vertical-align: top;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column:not(:last-child), #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column:not(:last-child), #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column:not(:last-child) {
  border-right: 1px #ece4d5 solid;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column h4, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column h4, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column h4 {
  color: #ea759c;
  font-weight: bold;
  margin: 0 0 5px 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column .staff_name, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column .staff_name, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column .staff_name {
  font-weight: bold;
  color: #ea759c;
  margin-bottom: 20px;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column ul, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column ul, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column ul {
  list-style-type: disc;
  list-style-position: inside;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column p.mg, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column p.mg, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column p.mg {
  margin: 25px 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column p.address, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column p.address, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column p.address {
  margin: 3px 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column p.tel, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column p.tel, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column p.tel {
  margin: 3px 0;
  color: #ac8a40;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column p.pad, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column p.pad, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column p.pad {
  padding: 5px 0 20px 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.nopad, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.nopad, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.nopad {
  padding: 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.lowpad, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.lowpad, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.lowpad {
  padding: 5px;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.lowpad_left, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.lowpad_left, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.lowpad_left {
  padding-left: 5px;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.pad_bottom, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.pad_bottom, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.pad_bottom {
  padding: 0 15px 15px 10px;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.pad_top, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.pad_top, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.pad_top {
  padding: 5px 0 0 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.pad_top_left, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.pad_top_left, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.pad_top_left {
  padding: 5px 0 0 10px;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.pad_top_right, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.pad_top_right, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.pad_top_right {
  padding: 5px 30px 0 0;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column.title, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column.title, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column.title {
  width: 200px;
  color: #5f2e13;
  vertical-align: top;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column span, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column span, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column span {
  font-weight: bold;
  color: #ea759c;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column span.pd, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column span.pd, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column span.pd {
  line-height: 2em;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column span.blk, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column span.blk, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column span.blk {
  color: #404040;
}

#wrapper #content_wrapper .contents .box .two_column_table .row .column span.red, #wrapper #content_wrapper .contents .mgbox .two_column_table .row .column span.red, #wrapper #content_wrapper .contents .colorbox .two_column_table .row .column span.red {
  color: #c61a22;
}

#wrapper #content_wrapper .contents .box .three_column_table, #wrapper #content_wrapper .contents .mgbox .three_column_table, #wrapper #content_wrapper .contents .colorbox .three_column_table {
  display: table;
  width: 100%;
  border: 1px #c9bc9c solid;
}

#wrapper #content_wrapper .contents .box .three_column_table.noborder, #wrapper #content_wrapper .contents .mgbox .three_column_table.noborder, #wrapper #content_wrapper .contents .colorbox .three_column_table.noborder {
  border: none !important;
}

#wrapper #content_wrapper .contents .box .three_column_table.noborder .column, #wrapper #content_wrapper .contents .mgbox .three_column_table.noborder .column, #wrapper #content_wrapper .contents .colorbox .three_column_table.noborder .column {
  border: none !important;
}

#wrapper #content_wrapper .contents .box .three_column_table.mg_bottom, #wrapper #content_wrapper .contents .mgbox .three_column_table.mg_bottom, #wrapper #content_wrapper .contents .colorbox .three_column_table.mg_bottom {
  margin-bottom: 20px;
}

#wrapper #content_wrapper .contents .box .three_column_table.fixed, #wrapper #content_wrapper .contents .mgbox .three_column_table.fixed, #wrapper #content_wrapper .contents .colorbox .three_column_table.fixed {
  table-layout: fixed;
}

#wrapper #content_wrapper .contents .box .three_column_table.fixed .row .column, #wrapper #content_wrapper .contents .mgbox .three_column_table.fixed .row .column, #wrapper #content_wrapper .contents .colorbox .three_column_table.fixed .row .column {
  width: auto !important;
}

#wrapper #content_wrapper .contents .box .three_column_table .row:last-child .column, #wrapper #content_wrapper .contents .mgbox .three_column_table .row:last-child .column, #wrapper #content_wrapper .contents .colorbox .three_column_table .row:last-child .column {
  border-bottom: none;
}

#wrapper #content_wrapper .contents .box .three_column_table .column, #wrapper #content_wrapper .contents .mgbox .three_column_table .column, #wrapper #content_wrapper .contents .colorbox .three_column_table .column {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  border-bottom: 1px #c9bc9c solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 5px;
}

#wrapper #content_wrapper .contents .box .three_column_table .column:not(:last-child), #wrapper #content_wrapper .contents .mgbox .three_column_table .column:not(:last-child), #wrapper #content_wrapper .contents .colorbox .three_column_table .column:not(:last-child) {
  border-right: 1px #c9bc9c solid;
}

#wrapper #content_wrapper .contents .box .three_column_table .column.long, #wrapper #content_wrapper .contents .mgbox .three_column_table .column.long, #wrapper #content_wrapper .contents .colorbox .three_column_table .column.long {
  width: 500px;
}

#wrapper #content_wrapper .contents .box .three_column_table .column.title, #wrapper #content_wrapper .contents .mgbox .three_column_table .column.title, #wrapper #content_wrapper .contents .colorbox .three_column_table .column.title {
  background: #eedebb;
  color: #47210e;
  vertical-align: middle;
}

#wrapper #content_wrapper .contents .box .three_column_table .column p span, #wrapper #content_wrapper .contents .mgbox .three_column_table .column p span, #wrapper #content_wrapper .contents .colorbox .three_column_table .column p span {
  font-weight: bold;
  color: #966731;
  line-height: 2em;
}

#wrapper #content_wrapper .contents .box .three_column_table .column .menu_pattern, #wrapper #content_wrapper .contents .mgbox .three_column_table .column .menu_pattern, #wrapper #content_wrapper .contents .colorbox .three_column_table .column .menu_pattern {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

#wrapper #content_wrapper .contents .box .three_column_table .column .menu_pattern dt, #wrapper #content_wrapper .contents .mgbox .three_column_table .column .menu_pattern dt, #wrapper #content_wrapper .contents .colorbox .three_column_table .column .menu_pattern dt {
  width: 60px;
  height: 18px;
  float: left;
}

#wrapper #content_wrapper .contents .box .three_column_table .column .menu_pattern dd, #wrapper #content_wrapper .contents .mgbox .three_column_table .column .menu_pattern dd, #wrapper #content_wrapper .contents .colorbox .three_column_table .column .menu_pattern dd {
  width: 40px;
  float: left;
  margin: 0 10px;
  text-align: left;
}

#wrapper #content_wrapper .contents .box .four_column_table, #wrapper #content_wrapper .contents .mgbox .four_column_table, #wrapper #content_wrapper .contents .colorbox .four_column_table {
  display: table;
  width: 100%;
  vertical-align: middle;
  border: 1px #c9bc9c solid;
}

#wrapper #content_wrapper .contents .box .four_column_table .row, #wrapper #content_wrapper .contents .mgbox .four_column_table .row, #wrapper #content_wrapper .contents .colorbox .four_column_table .row {
  display: table-row;
}

#wrapper #content_wrapper .contents .box .four_column_table .row:last-child .column, #wrapper #content_wrapper .contents .mgbox .four_column_table .row:last-child .column, #wrapper #content_wrapper .contents .colorbox .four_column_table .row:last-child .column {
  border-bottom: none;
}

#wrapper #content_wrapper .contents .box .four_column_table .row .column, #wrapper #content_wrapper .contents .mgbox .four_column_table .row .column, #wrapper #content_wrapper .contents .colorbox .four_column_table .row .column {
  display: table-cell;
  border-bottom: 1px #c9bc9c solid;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 5px 15px;
}

#wrapper #content_wrapper .contents .box .four_column_table .row .column:not(:last-child), #wrapper #content_wrapper .contents .mgbox .four_column_table .row .column:not(:last-child), #wrapper #content_wrapper .contents .colorbox .four_column_table .row .column:not(:last-child) {
  border-right: 1px #c9bc9c solid;
}

#wrapper #content_wrapper .contents .box .four_column_table .row .column.semilong, #wrapper #content_wrapper .contents .mgbox .four_column_table .row .column.semilong, #wrapper #content_wrapper .contents .colorbox .four_column_table .row .column.semilong {
  width: 200px;
}

#wrapper #content_wrapper .contents .box .four_column_table .row .column.long, #wrapper #content_wrapper .contents .mgbox .four_column_table .row .column.long, #wrapper #content_wrapper .contents .colorbox .four_column_table .row .column.long {
  width: 300px;
}

#wrapper #content_wrapper .contents .box .four_column_table .row .column.title, #wrapper #content_wrapper .contents .mgbox .four_column_table .row .column.title, #wrapper #content_wrapper .contents .colorbox .four_column_table .row .column.title {
  background: #eedebb;
  color: #47210e;
}

#wrapper #content_wrapper .contents .box .four_column_table .row .column ul li, #wrapper #content_wrapper .contents .mgbox .four_column_table .row .column ul li, #wrapper #content_wrapper .contents .colorbox .four_column_table .row .column ul li {
  float: left;
  margin: 5px 5px 0 0;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox {
  padding: 0 5px;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox.mg_bottom, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox.mg_bottom, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox.mg_bottom {
  margin-bottom: 50px;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox .column_box, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox .column_box, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox .column_box {
  width: 220px;
  margin-right: 15px;
  float: left;
  text-align: left;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox .column_box:last-child, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox .column_box:last-child, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox .column_box:last-child {
  margin-right: 0;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox .column_box .label, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox .column_box .label, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox .column_box .label {
  margin: 8px 0;
  padding-left: 5px;
  width: 215px;
  color: #a78138;
  font-weight: bold;
  font-size: 15px;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox .column_box h4, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox .column_box h4, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox .column_box h4 {
  padding: 5px 0;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox .column_box h4.century, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox .column_box h4.century, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox .column_box h4.century {
  font-family: "Century Gothic", sans-serif;
  font-size: 120%;
  line-height: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#wrapper #content_wrapper .contents .box .three_column_imagebox .column_box p, #wrapper #content_wrapper .contents .mgbox .three_column_imagebox .column_box p, #wrapper #content_wrapper .contents .colorbox .three_column_imagebox .column_box p {
  margin-top: 8px;
  padding-left: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#wrapper #content_wrapper .contents .box .info_box .iwrap, #wrapper #content_wrapper .contents .mgbox .info_box .iwrap, #wrapper #content_wrapper .contents .colorbox .info_box .iwrap {
  width: 701px;
  background: url("../../image/photo/top/news_body.jpg");
}

#wrapper #content_wrapper .contents .box .info_box .info_box_body, #wrapper #content_wrapper .contents .mgbox .info_box .info_box_body, #wrapper #content_wrapper .contents .colorbox .info_box .info_box_body {
  display: table;
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

#wrapper #content_wrapper .contents .box .info_box .info_box_body .line, #wrapper #content_wrapper .contents .mgbox .info_box .info_box_body .line, #wrapper #content_wrapper .contents .colorbox .info_box .info_box_body .line {
  display: table-row;
  width: 100%;
  text-align: left;
  /*&:first-child{
                .date,.label,.cnt{
                  border-top:1px #966731 dashed;
                }
              }*/
}

#wrapper #content_wrapper .contents .box .info_box .info_box_body .line .date, #wrapper #content_wrapper .contents .mgbox .info_box .info_box_body .line .date, #wrapper #content_wrapper .contents .colorbox .info_box .info_box_body .line .date {
  padding: 7px 0;
  display: table-cell;
  vertical-align: top;
  width: 72px;
  padding-left: 2px;
  border-bottom: 1px #966731 dashed;
}

#wrapper #content_wrapper .contents .box .info_box .info_box_body .line .label, #wrapper #content_wrapper .contents .mgbox .info_box .info_box_body .line .label, #wrapper #content_wrapper .contents .colorbox .info_box .info_box_body .line .label {
  padding: 10px 0 7px;
  display: table-cell;
  width: 72px;
  vertical-align: top;
  border-bottom: 1px #966731 dashed;
}

#wrapper #content_wrapper .contents .box .info_box .info_box_body .line .cnt, #wrapper #content_wrapper .contents .mgbox .info_box .info_box_body .line .cnt, #wrapper #content_wrapper .contents .colorbox .info_box .info_box_body .line .cnt {
  padding: 7px 0;
  display: table-cell;
  vertical-align: top;
  border-bottom: 1px #966731 dashed;
}

#wrapper #content_wrapper .contents .box .info_box .info_box_body .line .cnt a, #wrapper #content_wrapper .contents .mgbox .info_box .info_box_body .line .cnt a, #wrapper #content_wrapper .contents .colorbox .info_box .info_box_body .line .cnt a {
  color: #404040;
  font-weight: normal;
}

#wrapper #footer {
  width: 100%;
  min-width: 1280px;
}

#wrapper #footer .go_top {
  text-align: right;
  width: 940px;
  margin: 0 auto;
  padding: 30px 0;
}

#wrapper #footer .liner {
  border-top: 1px #e6dccc solid;
  padding: 15px 0 25px 0;
  background: #d6f3f3;
}

#wrapper #footer .liner .inner {
  width: 940px;
  margin: 0 auto;
}

#wrapper #footer .liner .inner .logo {
  float: left;
  width: 100px;
}

#wrapper #footer .liner .inner .copyright {
  float: left;
  width: 840px;
  text-align: right;
  color: #2187ab;
}

.error {
  color: #f00;
}

#wrapper.fitness #header {
  width: 1280px;
  padding: 0;
}

#wrapper.fitness #header .headerIn {
  width: 1280px;
  padding: 10px 0 10px 0;
  background: url("../image/bg/fitness/header.png") no-repeat;
}

#wrapper.fitness #header .headerIn .inner {
  position: relative;
}

#wrapper.fitness #header .headerIn .inner .logo {
  position: absolute;
  z-index: 2;
}

#wrapper.fitness #header .headerIn .inner .info {
  padding-left: 146px;
  color: #FFF;
}

#wrapper.fitness #header .headerIn .inner .time {
  position: absolute;
  top: -5px;
  right: 50px;
  color: #fff;
}

#wrapper.fitness #header .headerIn .inner .tel {
  height: 46px;
}

#wrapper.fitness #header #global_nav {
  margin-top: 0;
  border-bottom: 2px solid #858d90;
  background: -webkit-linear-gradient(#fff, #f0f0f0);
  background: -o-linear-gradient(#fff, #f0f0f0);
  background: linear-gradient(#fff, #f0f0f0);
}

#wrapper.fitness #header #global_nav ul {
  width: 940px;
  margin-left: 260px;
}

#wrapper.fitness #base_wrapper {
  background-color: #d9e6ea;
}

#wrapper.fitness #nav dl {
  position: relative;
  padding: 38px 14px 0 14px;
  background-color: #FFF;
}

#wrapper.fitness #nav dl dt {
  position: absolute;
  top: 5px;
  left: -3px;
}

#wrapper.fitness #nav dl dd {
  width: 153px;
  margin: 0 0 0 30px;
  padding: 18px 0 12px 40px;
  border-top: 2px solid #dedede;
  text-align: left;
}

#wrapper.fitness #nav dl dd a {
  color: #545454;
}

#wrapper.fitness #nav dl dd.takumifitness {
  background: url("../image/photo/fitness/tri1.png") no-repeat 24px 20px;
}

#wrapper.fitness #nav dl dd.schedule {
  background: url("../image/photo/fitness/tri2.png") no-repeat 24px 20px;
}

#wrapper.fitness #nav dl dd.program {
  background: url("../image/photo/fitness/tri3.png") no-repeat 24px 20px;
}

#wrapper.fitness #nav dl dd.aroma {
  background: url("../image/photo/fitness/tri4.png") no-repeat 24px 20px;
}

#wrapper.fitness #nav dl dd.first {
  border-top: none;
}

#wrapper.fitness .contents .bnr {
  width: 705px;
  margin: 23px 0 19px 0;
}

#wrapper.fitness .contents .bnr img {
  vertical-align: bottom;
}

#wrapper.fitness .contents .mgbox, #wrapper.fitness #content_wrapper .contents .colorbox {
  margin: 0 0 22px 0;
}

#wrapper.fitness .contents .mgbox .column, #wrapper.fitness #content_wrapper .contents .colorbox .column {
  float: left;
  width: 220px;
  margin-right: 15px;
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.3);
  text-align: left;
}

#wrapper.fitness .contents .mgbox .column:last-child, #wrapper.fitness #content_wrapper .contents .colorbox .column:last-child {
  margin-right: 0;
}

#wrapper.fitness .contents .mgbox .column .thumbnail a, #wrapper.fitness #content_wrapper .contents .colorbox .column .thumbnail a {
  display: inline-block;
  vertical-align: bottom;
}

#wrapper.fitness .contents .mgbox .column .thumbnail img, #wrapper.fitness #content_wrapper .contents .colorbox .column .thumbnail img {
  vertical-align: bottom;
}

#wrapper.fitness .contents .mgbox .column .label, #wrapper.fitness #content_wrapper .contents .colorbox .column .label {
  width: 190px;
  padding: 10px 15px 30px 15px;
  background-image: url("../image/photo/fitness/arrow.png"), url("../image/bg/fitness/menu.jpg");
  background-repeat: no-repeat, repeat;
  background-position: bottom 4px left 50%, 0 0;
  color: #FFF;
  font-size: 14px;
}

#wrapper.fitness .contents .mgbox .info, #wrapper.fitness #content_wrapper .contents .colorbox .info {
  background-color: #fff;
  border: 1px solid #5580b4;
}

#wrapper.fitness .contents .mgbox .info .info_box_header, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_header {
  text-align: center;
}

#wrapper.fitness .contents .mgbox .info .info_box_header img, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_header img {
  vertical-align: bottom;
}

#wrapper.fitness .contents .mgbox .info .iwrap, #wrapper.fitness #content_wrapper .contents .colorbox .info .iwrap {
  width: 699px;
}

#wrapper.fitness .contents .mgbox .info .info_box_body, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body {
  display: table;
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

#wrapper.fitness .contents .mgbox .info .info_box_body .line, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body .line {
  display: table-row;
  width: 100%;
  text-align: left;
  /*&:first-child{
              .date,.label,.cnt{
                border-top:1px #966731 dashed;
              }
            }*/
}

#wrapper.fitness .contents .mgbox .info .info_box_body .line .date, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body .line .date {
  display: table-cell;
  padding: 7px 0;
  padding-left: 2px;
  width: 90px;
  vertical-align: top;
}

#wrapper.fitness .contents .mgbox .info .info_box_body .line .label, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body .line .label {
  display: table-cell;
  padding: 7px 0;
  width: 72px;
  vertical-align: top;
}

#wrapper.fitness .contents .mgbox .info .info_box_body .line .label .new, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body .line .label .new {
  display: inline-block;
  width: 31px;
  padding: 0 3px;
  font-size: 13px;
  color: #FFF;
  background-color: #bf2209;
}

#wrapper.fitness .contents .mgbox .info .info_box_body .line .cnt, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body .line .cnt {
  display: table-cell;
  padding: 7px 0;
  vertical-align: top;
}

#wrapper.fitness .contents .mgbox .info .info_box_body .line .cnt a, #wrapper.fitness #content_wrapper .contents .colorbox .info .info_box_body .line .cnt a {
  color: #404040;
  font-weight: normal;
}

#wrapper.fitness .contents .go_top {
  text-align: right;
  margin: 0 auto;
  padding: 20px 0;
}

#wrapper.fitness .contents .go_top a {
  display: inline-block;
  width: 120px;
  padding-left: 10px;
  font-size: 12px;
  color: #5784a1;
  background: url("../image/photo/fitness/pagetop.png") no-repeat 0 0;
}

#wrapper.fitness .bnrArea .bnr img {
  margin-bottom: 20px;
}

#wrapper.fitness #footer {
  width: 100%;
  min-width: 1280px;
}

#wrapper.fitness #footer .liner {
  border-top: 1px #e6dccc solid;
  padding: 15px 0 25px 0;
  background: #0073b5;
}

#wrapper.fitness #footer .liner .inner {
  width: 940px;
  margin: 0 auto;
}

#wrapper.fitness #footer .liner .inner .logo {
  float: left;
  width: 100px;
}

#wrapper.fitness #footer .liner .inner .copyright {
  float: left;
  width: 840px;
  text-align: right;
  color: #FFF;
}

#wrapper.schedule .calendar, #wrapper.schedule .event, #wrapper.schedule .fees {
  width: 700px;
  background-color: #d0a0c0;
}

#wrapper.schedule .calendar .inner, #wrapper.schedule .event .inner, #wrapper.schedule .fees .inner {
  width: 696px;
  padding: 2px;
  background-color: #FFF;
}

#wrapper.schedule .calendar {
  padding: 3px 1px 1px 1px;
  border-top: 2px solid #af7e9f;
}

#wrapper.schedule .calendar .date {
  padding-right: 50px;
  text-align: right;
}

#wrapper.schedule .calendar .m-r-20 {
  margin-right: 20px;
}

#wrapper.schedule .event {
  width: 700px;
  padding: 1px;
}

#wrapper.schedule .event .photo {
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.3);
}

#wrapper.schedule .fees {
  padding: 1px;
}

#wrapper.schedule .fees .m-r-20 {
  margin-right: 20px;
}

#wrapper.schedule .fees .subTit {
  display: block;
  width: 644px;
  height: 28px;
  margin: 0 auto;
  padding: 5px 0 0px 20px !important;
  background: url("../image/photo/schedule/subtit.jpg") no-repeat 0 -2px;
  font-size: 16px;
  font-weight: bold;
}

#wrapper.schedule .fees .subTit span {
  font-size: 12px;
  color: #5a1961;
}

#wrapper.schedule .fees .m-t-34 {
  margin-top: 34px;
}

#wrapper.schedule .fees .m-b-34 {
  margin-bottom: 34px;
}

#wrapper.schedule .fees .list {
  width: 602px;
  margin: 0 auto;
}

#wrapper.schedule .fees .list .item, #wrapper.schedule .fees .list .item1, #wrapper.schedule .fees .list .item2, #wrapper.schedule .fees .list .item3 {
  margin: 5px 0;
  padding: 15px 0 15px 70px;
  text-align: left;
  border-bottom: 1px dotted #d2d2d2;
}

#wrapper.schedule .fees .list .item1 {
  background: url("../image/photo/schedule/tokuten1.jpg") no-repeat 0 5px;
}

#wrapper.schedule .fees .list .item2 {
  background: url("../image/photo/schedule/tokuten2.jpg") no-repeat 0 5px;
}

#wrapper.schedule .fees .list .item3 {
  background: url("../image/photo/schedule/tokuten3.jpg") no-repeat 0 5px;
}

#wrapper.schedule .fees table {
  position: relative;
  width: 644px;
  margin: 0 auto;
}

#wrapper.schedule .fees table .left {
  width: 160px;
  padding: 25px 0;
  background-color: #ececec;
}

#wrapper.schedule .fees table .right {
  width: 470px;
  padding: 28px 0 20px 0;
  text-align: left;
}

#wrapper.schedule .fees table .right .price25 {
  position: absolute;
  top: 0;
  right: 0;
}

#wrapper.schedule .fees table .comment {
  display: inline-block;
}

#wrapper.schedule .fees table .p-0 {
  padding: 0;
}

#wrapper.schedule .fees table .border-b-2 {
  border-bottom: 2px solid #ececec;
}

#wrapper.instructor .ygBox:before {
  background: url("../image/bg/yg/inst_header.png") no-repeat;
  height: 114px;
}

#wrapper.about .fitBox .ptb20 {
  display: inline-block;
  padding: 20px 0;
}

#wrapper.about .fitBox#thinking:before {
  background: url("../image/bg/fit/about/thinking.jpg") no-repeat;
  height: 71px;
}

#wrapper.about .fitBox#thinking .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.about .fitBox#thinking .about-txt p {
  margin-bottom: 15px;
}

#wrapper.about .fitBox#diet:before {
  background: url("../image/bg/fit/about/diet.jpg") no-repeat;
  height: 71px;
}

#wrapper.about .fitBox#matchmaking:before {
  background: url("../image/bg/fit/about/matchmaking.jpg") no-repeat;
  height: 71px;
}

#wrapper.about .fitBox#matchmaking .match-txt {
  width: 355px;
  margin: 0 10px;
}

#wrapper.about .fitBox#matchmaking .match-txt li {
  margin-left: 20px;
  text-align: left;
}

#wrapper.about .fitBox#matchmaking .match-txt li p {
  width: 266px;
  padding: 8px 0 12px 30px;
}

#wrapper.about .fitBox#voice:before {
  background: url("../image/bg/fit/about/voice.jpg") no-repeat;
  height: 71px;
}

#wrapper.about .fitBox#voice li {
  padding: 14px 0 36px 0;
}

#wrapper.about .fitBox#voice .voice-txt {
  width: 375px;
  margin: 0 15px 0 30px;
  font-size: 15px;
}

#wrapper.about .fitBox#access:before {
  background: url("../image/bg/yg/about/access.jpg") no-repeat;
  height: 102px;
}

#wrapper.about .fitBox#access table {
  margin: 0 auto;
}

#wrapper.about .fitBox#access table th {
  background: #ececec;
  border-bottom: #fff 2px solid;
  vertical-align: middle;
  font-size: 15px;
  font-weight: normal;
  width: 190px;
  padding: 23px 0;
}

#wrapper.about .fitBox#access table td {
  width: 454px;
  border-bottom: #ececec 2px solid;
  vertical-align: middle;
  font-size: 13px;
  padding: 0 0 0 19px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: left;
}

#wrapper.about .fitBox#access .btns {
  padding: 0;
}

#wrapper.program .section_box, #wrapper.program .studio, #wrapper.program .forfirst {
  width: 700px;
  background-color: #d0a0c0;
}

#wrapper.program .section_box .inner, #wrapper.program .studio .inner, #wrapper.program .forfirst .inner {
  width: 696px;
  padding: 2px;
  background-color: #FFF;
}

#wrapper.program .section_box .inner img, #wrapper.program .studio .inner img, #wrapper.program .forfirst .inner img {
  vertical-align: bottom;
}

#wrapper.program .studio {
  padding: 3px 1px 1px 1px;
}

#wrapper.program .studio .inner {
  padding-bottom: 40px;
}

#wrapper.program .studio .typelist {
  width: 590px;
  margin: 40px auto 0 auto;
  text-align: left;
}

#wrapper.program .studio .typelist .listname {
  padding: 0 !important;
}

#wrapper.program .studio .typelist li {
  margin-bottom: 20px;
}

#wrapper.program .studio .typelist li figure {
  width: 580px;
  margin: 0 0 0 auto;
}

#wrapper.program .studio .typelist li figure img {
  float: left;
}

#wrapper.program .studio .typelist li figure figcaption {
  width: 447px;
  padding: 0 10px;
  float: left;
}

#wrapper.program .studio .typelist li .dot-border {
  width: 100%;
  height: 4px;
  margin-top: 15px;
}

#wrapper.program .studio .typelist li.relax .dot-border {
  background: url("../image/photo/program/dot_relax.jpg") repeat;
}

#wrapper.program .studio .typelist li.hata .dot-border {
  background: url("../image/photo/program/dot_hata.jpg") repeat;
}

#wrapper.program .studio .typelist li.hataflow .dot-border {
  background: url("../image/photo/program/dot_hataflow.jpg") repeat;
}

#wrapper.program .studio .typelist li.healing .dot-border {
  background: url("../image/photo/program/dot_healing.jpg") repeat;
}

#wrapper.program .studio .typelist li.aroma .dot-border {
  background: url("../image/photo/program/dot_aroma.jpg") repeat;
}

#wrapper.program .studio .subtitle {
  width: 644px;
  margin: 0 auto;
  padding: 5px 10px 5px 25px !important;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: bold;
  background: url("../image/photo/program/subtit.jpg") no-repeat;
}

#wrapper.program .studio .detail {
  width: 610px;
  margin: 0 auto 42px auto;
}

#wrapper.program .studio .detail img, #wrapper.program .studio .detail figcaption {
  float: left;
}

#wrapper.program .studio .detail figcaption {
  width: 347px;
  padding-left: 16px;
  text-align: left;
}

#wrapper.program .forfirst {
  padding: 1px;
}

#wrapper.program .forfirst .inner {
  padding-bottom: 40px;
}

#wrapper.program .forfirst .reason-list {
  width: 590px;
  margin: 0 auto;
  padding: 32px 0 40px 0;
}

#wrapper.program .forfirst .reason-list img {
  margin-bottom: 14px;
}

#wrapper.program .forfirst .reason-list .list {
  width: 185px;
  float: left;
  margin-left: 15px;
}

#wrapper.program .forfirst .reason-list .list:first-child {
  margin-left: 0px;
}

#wrapper.program .forfirst .reason-list .list .midashi, #wrapper.program .forfirst .reason-list .list .midashi1, #wrapper.program .forfirst .reason-list .list .midashi2, #wrapper.program .forfirst .reason-list .list .midashi3 {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
  font-size: 18px;
}

#wrapper.program .forfirst .reason-list .list .midashi1 {
  color: #d917f5;
}

#wrapper.program .forfirst .reason-list .list .midashi2 {
  color: #00a3ef;
}

#wrapper.program .forfirst .reason-list .list .midashi3 {
  color: #00d0ba;
}

#wrapper.program .forfirst .reason-list .list .cont {
  text-align: left;
  font-size: 14px;
}

#wrapper.program .m-r-30 {
  margin-right: 30px;
}

#wrapper.school .ygBox#ygschool:before {
  background: url("../image/bg/yg/school/school_header.jpg") no-repeat;
  height: 114px;
}

#wrapper.school .ygBox#ygschool .midashi, #wrapper.school .ygBox#ygschool #wrapper.program .forfirst .reason-list .list .midashi1, #wrapper.program .forfirst .reason-list .list #wrapper.school .ygBox#ygschool .midashi1, #wrapper.school .ygBox#ygschool #wrapper.program .forfirst .reason-list .list .midashi2, #wrapper.program .forfirst .reason-list .list #wrapper.school .ygBox#ygschool .midashi2, #wrapper.school .ygBox#ygschool #wrapper.program .forfirst .reason-list .list .midashi3, #wrapper.program .forfirst .reason-list .list #wrapper.school .ygBox#ygschool .midashi3 {
  margin: 30px 0 !important;
}

#wrapper.school .ygBox#ygschool .feature {
  width: 610px;
  margin: 0 auto;
}

#wrapper.school .ygBox#ygschool .feature dt {
  width: 100%;
  margin-bottom: 15px;
  font-family: "HiraMinProN-W6";
  font-size: 24px;
  text-align: left;
  color: #a99ac7;
}

#wrapper.school .ygBox#ygschool .feature dd {
  width: 100%;
  margin: 0 !important;
  padding-bottom: 35px;
  text-align: left;
  font-size: 14px;
}

#wrapper.school .ygBox#entry:before {
  background: url("../image/bg/yg/school/entry.jpg") no-repeat;
  height: 96px;
}

#wrapper.school .ygBox#entry p {
  width: 610px;
  margin: 0 auto;
}

#wrapper.diet .fitBox .ptb20 {
  display: inline-block;
  padding: 20px 0;
}

#wrapper.diet .fitBox#thinking:before {
  background: url("../image/bg/fit/diet/thinkingOfTheDiet.jpg") no-repeat;
  height: 71px;
}

#wrapper.diet .fitBox#thinking .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.diet .fitBox#thinking .about-txt p {
  margin-bottom: 15px;
}

#wrapper.diet .fitBox#thinking .fit-body img {
  margin-top: 10px;
}

#wrapper.diet .fitBox#diet:before {
  background: url("../image/bg/fit/diet/dietaryGuidance.png") no-repeat;
  height: 71px;
}

#wrapper.diet .fitBox#trainning:before {
  background: url("../image/bg/fit/diet/trainning.jpg") no-repeat;
  height: 71px;
}

#wrapper.diet .fitBox#trainning .inner {
  width: 170px;
  margin-top: 25px;
  background-color: #e1f3fa;
  float: left;
  height: 196px;
}

#wrapper.diet .fitBox#trainning .inner .thumb {
  padding: 3px;
  padding-left: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

#wrapper.diet .fitBox#trainning .inner .detail {
  padding: 3px;
  font-size: 11px;
  margin-top: -8px;
}

#wrapper.diet .fitBox#trainning .arrow {
  float: left;
  margin-top: 76px;
  margin-left: 14px;
  margin-right: 7px;
}

#wrapper.diet .fitBox#trainning .flow {
  margin-left: 56px;
}

#wrapper.diet .fitBox#trainning .flow.bottom .inner {
  height: auto;
}

#wrapper.diet .fitBox#trainning .flow.bottom .inner .caption {
  width: 170px;
  height: 20px;
  background-color: #004f93;
  color: #fff;
}

#wrapper.diet .fitBox#trainning .flow.bottom .step5 {
  padding-top: 14px;
  box-sizing: borde-box;
}

#wrapper.diet .fitBox#trainning .match-txt {
  width: 355px;
  margin: 0 10px;
}

#wrapper.diet .fitBox#trainning .match-txt li {
  margin-left: 20px;
  text-align: left;
}

#wrapper.diet .fitBox#trainning .match-txt li p {
  width: 266px;
  padding: 8px 0 12px 30px;
}

#wrapper.diet .fitBox#bodycare:before {
  background: url("../image/bg/fit/diet/bodyCare.jpg") no-repeat;
  height: 71px;
}

#wrapper.diet .fitBox#bodycare .box, #wrapper.diet .fitBox#bodycare #content_wrapper .contents .mgbox, #wrapper.diet #content_wrapper .contents .fitBox#bodycare .mgbox, #wrapper.diet .fitBox#bodycare #content_wrapper .contents .colorbox, #wrapper.diet #content_wrapper .contents .fitBox#bodycare .colorbox {
  padding-top: 20px;
  box-sizing: border-box;
}

#wrapper.diet .fitBox#bodycare .box .thumb, #wrapper.diet .fitBox#bodycare #content_wrapper .contents .mgbox .thumb, #wrapper.diet #content_wrapper .contents .fitBox#bodycare .mgbox .thumb, #wrapper.diet .fitBox#bodycare #content_wrapper .contents .colorbox .thumb, #wrapper.diet #content_wrapper .contents .fitBox#bodycare .colorbox .thumb {
  float: left;
  margin-left: 45px;
}

#wrapper.diet .fitBox#bodycare .box .detail, #wrapper.diet .fitBox#bodycare #content_wrapper .contents .mgbox .detail, #wrapper.diet #content_wrapper .contents .fitBox#bodycare .mgbox .detail, #wrapper.diet .fitBox#bodycare #content_wrapper .contents .colorbox .detail, #wrapper.diet #content_wrapper .contents .fitBox#bodycare .colorbox .detail {
  float: left;
  margin-left: 15px;
  width: 300px;
  text-align: left;
  padding-top: 115px;
  box-sizing: border-box;
}

#wrapper.diet .fitBox#access:before {
  background: url("../image/bg/yg/about/access.jpg") no-repeat;
  height: 102px;
}

#wrapper.diet .fitBox#access table {
  margin: 0 auto;
}

#wrapper.diet .fitBox#access table th {
  background: #ececec;
  border-bottom: #fff 2px solid;
  vertical-align: middle;
  font-size: 15px;
  font-weight: normal;
  width: 190px;
  padding: 23px 0;
}

#wrapper.diet .fitBox#access table td {
  width: 454px;
  border-bottom: #ececec 2px solid;
  vertical-align: middle;
  font-size: 13px;
  padding: 0 0 0 19px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: left;
}

#wrapper.diet .fitBox#access .btns {
  padding: 0;
}

#wrapper.beforeAfter .fitBox .ptb20 {
  display: inline-block;
  padding: 20px 0;
}

#wrapper.beforeAfter .fitBox#beforeAfter_terada:before {
  background: url("../image/bg/fit/beforeAfter/beforeAfter1.jpg") no-repeat;
  height: 71px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_terada .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_terada .about-txt p {
  margin-bottom: 15px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_terada .fit-body img {
  margin-top: 10px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_male:before {
  background: url("../image/bg/fit/beforeAfter/beforeAfter2.png") no-repeat;
  height: 71px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_male .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_male .about-txt p {
  margin-bottom: 15px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_male .fit-body img {
  margin-top: 10px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_female:before {
  background: url("../image/bg/fit/beforeAfter/beforeAfter3.jpg") no-repeat;
  height: 71px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_female .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_female .about-txt p {
  margin-bottom: 15px;
}

#wrapper.beforeAfter .fitBox#beforeAfter_female .fit-body img {
  margin-top: 10px;
}

#wrapper.price .fitBox {
  border: none;
}

#wrapper.price .fitBox .ptb20 {
  display: inline-block;
  padding: 20px 0;
}

#wrapper.price .fitBox#price:before {
  background: url("../image/bg/fit/price/price.png") no-repeat;
  background-color: #fff;
  height: 71px;
}

#wrapper.price .fitBox#price .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.price .fitBox#price .about-txt p {
  margin-bottom: 15px;
}

#wrapper.price .fitBox#price .fit-body {
  background: none;
  background-color: #fff;
}

#wrapper.price .fitBox#price .fit-body img {
  margin-top: 10px;
}

#wrapper.price .fitBox#price table {
  width: 650px;
}

#wrapper.price .fitBox#price table tr th.beginner {
  background: url("../image/bg/fit/price/beginner.png") no-repeat left center;
  background-color: #f1f1f1;
}

#wrapper.price .fitBox#price table tr th {
  background-color: #f1f1f1;
  font-size: 14px;
  width: 125px;
  height: 53px;
}

#wrapper.price .fitBox#price table tr td {
  border-bottom: 2px solid #f1f1f1;
  font-size: 14px;
  text-align: left;
  padding-left: 15px;
  box-sizing: border-box;
  position: relative;
}

#wrapper.price .fitBox#price table tr td .sale {
  position: absolute;
  top: -13px;
}

#wrapper.price .fitBox#price ul {
  margin-top: 20px;
}

#wrapper.price .fitBox#price ul li {
  text-align: left;
  background: url("../image/bg/fit/price/point1.png") no-repeat left center;
  height: 45px;
  vertical-align: middle;
  font-size: 14px;
  padding: 15px 0 15px 70px;
  border-bottom: 2px dotted #d2d2d2;
  box-sizing: border-box;
  margin: 5px 0;
  height: 56px;
}

#wrapper.price .fitBox#price ul li:nth-child(2) {
  background: url("../image/bg/fit/price/point2.png") no-repeat left center;
}

#wrapper.price .fitBox#price ul li:nth-child(3) {
  background: url("../image/bg/fit/price/point3.png") no-repeat left center;
  position: relative;
}

#wrapper.price .fitBox#price ul li:nth-child(3) .mark {
  position: absolute;
  top: -23px;
  margin-left: 7px;
}

#wrapper.price .fitBox#price ul li:nth-child(4) {
  background: url("../image/bg/fit/price/point4.png") no-repeat left center;
}

#wrapper.price .fitBox#price .detail, #wrapper.price .fitBox#price .title {
  width: 650px;
  margin: 0 auto;
}

#wrapper.price .fitBox#price .title {
  margin-bottom: 15px;
}

#wrapper.price .fitBox#price .title img {
  vertical-align: bottom;
}

#wrapper.price .fitBox#price .femaleOnly {
  margin-bottom: 105px;
}

#wrapper.price .fitBox#price .femaleOnly .title {
  text-align: left;
  margin: 0;
}

#wrapper.price .fitBox#price .femaleOnly ul {
  margin: 0;
}

#wrapper.price .fitBox#price .femaleOnly ul li {
  background: url("../image/bg/fit/price/femalePoint1.png") no-repeat left center;
}

#wrapper.price .fitBox#price .femaleOnly ul li:nth-child(2) {
  background: url("../image/bg/fit/price/femalePoint2.png") no-repeat left center;
}

#wrapper.price .fitBox#price .golfCourse {
  margin-top: 105px;
}

#wrapper.price .fitBox#price .golfCourse table .beginner {
  padding-left: 5px;
  box-sizing: border-box;
}

#wrapper.price .fitBox#price .golfCourse table td span {
  font-size: 11px;
}

#wrapper.price .fitBox#price .golfCourse ul {
  padding-bottom: 50px;
  box-sizing: border-box;
}

#wrapper.price .fitBox.unshadow.priceshadow::after {
  content: '';
  background: url("../image/bg/fit/fit_footer-unshadow_price.png") no-repeat;
  height: 30px;
  width: 702px;
  display: block;
}

#wrapper.shopStaff .fitBox .ptb20 {
  display: inline-block;
  padding: 20px 0;
}

#wrapper.shopStaff .fitBox#shopImage:before {
  background: url("../image/bg/fit/shopStaff/shopImage.jpg") no-repeat;
  height: 71px;
}

#wrapper.shopStaff .fitBox#shopImage .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.shopStaff .fitBox#shopImage .about-txt p {
  margin-bottom: 15px;
}

#wrapper.shopStaff .fitBox#shopImage .fit-body img {
  margin-top: 10px;
}

#wrapper.shopStaff .fitBox#shopImage .shopImageThumb {
  padding-top: 20px;
  box-sizing: border-box;
}

#wrapper.shopStaff .fitBox#shopImage .summary {
  text-align: left;
  width: 514px;
  margin: 0 auto;
}

#wrapper.shopStaff .fitBox#shopImage .summary .title {
  margin-top: 20px;
  font-weight: bold;
}

#wrapper.shopStaff .fitBox#shopImage .summary .desc {
  padding: 0;
}

#wrapper.shopStaff .fitBox#shopStaff:before {
  background: url("../image/bg/fit/shopStaff/staffImage.jpg") no-repeat;
  height: 71px;
}

#wrapper.shopStaff .fitBox#shopStaff .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.shopStaff .fitBox#shopStaff .about-txt p {
  margin-bottom: 15px;
}

#wrapper.shopStaff .fitBox#shopStaff .fit-body img {
  margin-top: 10px;
}

#wrapper.shopStaff .fitBox#shopStaff .staffBox {
  margin-left: -40px;
}

#wrapper.shopStaff .fitBox#shopAccess:before {
  background: url("../image/bg/fit/shopStaff/Access.jpg") no-repeat;
  height: 71px;
}

#wrapper.shopStaff .fitBox#shopAccess .about-txt {
  width: 323px;
  margin: 0 10px 0 20px;
}

#wrapper.shopStaff .fitBox#shopAccess .about-txt p {
  margin-bottom: 15px;
}

#wrapper.shopStaff .fitBox#shopAccess .fit-body img {
  margin-top: 10px;
}

#wrapper.shopStaff .fitBox#shopAccess table {
  width: 615px;
  margin: 0 auto;
  padding-top: 55px;
  box-sizing: border-box;
}

#wrapper.shopStaff .fitBox#shopAccess table tbody tr th {
  background-color: #a1cde0;
  width: 150px;
  height: 52px;
}

#wrapper.shopStaff .fitBox#shopAccess table tbody tr td {
  text-align: left;
  padding-left: 45px;
  box-sizing: border-box;
  border-bottom: 2px solid #a1cde0;
}

#wrapper.shopStaff .fitBox#shopAccess .accessMap {
  padding-bottom: 55px;
  box-sizing: border-box;
}
